<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-company" cdkScrollable>

    <div class="bg-card section-padding">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8 pt-3">
            <form class="row mt-5 mb-5" [formGroup]="formFilters">
                <div class="col-12">

                    <div class="section-title row d-flex justify-content-between align-items-center">
                        <div class="col-md-4 col-sm-12 col-12 title mb-5">Todos</div>

                        <div class="col-md-8 col-sm-12 col-12 btns-section mb-5">
                            <div class="container p-0">
                                 <div class="row d-flex justify-content-end">
                                     <div class="col-sm-4 col-lg-2 col-5 d-flex justify-content-end">
                                        <button class="btn-excel p-2" (click)="async()">
                                            <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:sync'"></mat-icon>
                                            <span>Sincronizar</span>
                                        </button>
                                     </div>
                                     <div class="col-sm-6 col-lg-5 col-7 d-flex justify-content-end width-new-register">
                                         <button class="btn-yellow-newRegister">
                                             <span (click)="newData()">Registrar nuevo</span>
                                         </button>
                                     </div>
                                 </div>
                            </div>
                         </div>
                    </div>

                    <div class="row d-flex align-items-center">

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Estatus</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="estatus">
                                    <mat-option value="estatus-1">estatus 1</mat-option>
                                    <mat-option value="estatus-2">estatus 2</mat-option>
                                    <mat-option value="estatus-3">estatus 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Giro</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="giro">
                                    <mat-option value="Giro-1">Giro 1</mat-option>
                                    <mat-option value="Giro-2">Giro 2</mat-option>
                                    <mat-option value="Giro-3">Giro 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Campaña</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="company">
                                    <mat-option value="Campaña-1">Campaña 1</mat-option>
                                    <mat-option value="Campaña-2">Campaña 2</mat-option>
                                    <mat-option value="Campaña-3">Campaña 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Rango de fechas</mat-label>
                                <mat-date-range-input [max]="fechaHoy" [rangePicker]="campaignOnePicker"
                                    [comparisonStart]="formFilters.value['rangeDateStart']"
                                    [comparisonEnd]="formFilters.value['rangeDateEnd']">
                                    <input matStartDate placeholder="Inicio" formControlName="rangeDateStart" />
                                    <input matEndDate placeholder="Final" formControlName="rangeDateEnd" />
                                </mat-date-range-input>

                                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>

                    
                    <!-- ESTE -->
                    <div class="row d-flex justify-content-end mb-2">
                        <div class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2">
                            <button class="btn-search " (click)="SearchWithFilters()">
                                <span>Buscar</span>
                            </button>
                        </div>
                    </div>

                    <div class="row d-flex">

                        <div class="d-flex col-md-5 col-xl-5 col-12 pt-md-2 mb-lg-0 mb-sm-0 mt-3 mb-5">
                            <div class="input-search">
                                <input type="text" placeholder="Búscar">
                                <mat-icon class="icon-size-6" matSuffix [svgIcon]="'mat_solid:search'"></mat-icon>
                            </div>
                        </div>

                        <div class="d-flex col-md-7 col-xl-7 col-12 pt-md-2 justify-content-end align-items-end mt-3 mb-5">
                            <button class="btn-excel ml-3" (click)="douwnloadExel()">
                                <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button> 
                        </div>
                    </div>
                </div>
            </form>

            <div class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                matRipple [matMenuTriggerFor]="projectsMenu">
                <div class="flex items-center">

                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">{{selectedProject}}</div>
                    </div>

                    <div class="flex items-center justify-center pl-2">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:chevron-down'"></mat-icon>
                    </div>

                </div>

                <mat-menu #projectsMenu="matMenu" [xPosition]="'before'">

                    <button mat-menu-item (click)="cambiarOpcion('todas')">Todas
                    </button>
                    <button mat-menu-item (click)="cambiarOpcion('agregadasRecientemente')">Agregadas recientemente
                    </button>
                    <button mat-menu-item (click)="cambiarOpcion('Mascomprados')">Que más han comprado
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    
    <div class="flex-auto border-t section-content-padding">
        <div class="w-full mx-auto">
            <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">

                <mat-tab *ngIf="selectedProject == 'Todas'">
                    <ng-template matTabContent>
                        <div class="row">
                            <div class="col-12 contenedor-scroll-tabla">
                                <table mat-table #table [dataSource]="dataSource"
                                    class="w-100 tabla-personalizada-default">
                                    <caption></caption>

                                    <ng-container matColumnDef="client">
                                        <th mat-header-cell *matHeaderCellDef>Nombre de la empresa</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="table-column-reck-solution">
                                                <img src="../../../../assets/images/logo/prospects-icon.png" alt="">
                                                <span class="cursor-pointer" (click)="seeClient()">RECK SOLUCIONES</span>
                                            </div>

                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef>Estatus</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="table-column-status">
                                                {{ element.estatus }}
                                            </div>
                                        </td>
                                    </ng-container>
                             
                                    <ng-container matColumnDef="country">
                                        <th mat-header-cell *matHeaderCellDef>País</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.pais }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="origen">
                                        <th mat-header-cell *matHeaderCellDef>Origen</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.origen}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="categoria">
                                        <th mat-header-cell *matHeaderCellDef>Categoría</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.categoria }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="giro">
                                        <th mat-header-cell *matHeaderCellDef>Giro</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.giro }}
                                        </td>
                                    </ng-container>
                                
                                    <ng-container matColumnDef="campaign">
                                        <th mat-header-cell *matHeaderCellDef>Campaña</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.campaign }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="cotizaciones">
                                        <th mat-header-cell *matHeaderCellDef>Cotizaciones</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="table-column-two-botton-row" *ngFor="let info of element.cotizaciones">
                                                <div class="table-column-lead"> {{ info.up }} </div>
                                                <div class="table-column-lead"> {{ info.bottom }} </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ventas">
                                        <th mat-header-cell *matHeaderCellDef>Ventas</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="table-column-two-botton-row" *ngFor="let info of element.ventas">
                                                <div class="table-column-lead"> {{ info.up }} </div>
                                                <div class="table-column-lead"> {{ info.bottom }} </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="fechaUltimoContacto">
                                        <th mat-header-cell *matHeaderCellDef>Fecha de último contacto</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.fechaUltimoContacto}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="history">
                                        <th mat-header-cell *matHeaderCellDef>Historial</th>
                                        <td mat-cell *matCellDef="let element" class="table-texto-largo text-start">
                                            {{element.history}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="acciones">
                                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                        <td mat-cell *matCellDef="let element">
                                            <div class="c-column-btns">

                                                <div class="btn-see" (click)="seeData(element)">
                                                    <mat-icon matTooltip="Editar">visibility</mat-icon>
                                                </div>
                                                
                                                <div class="btn-edit" (click)="editData(element)">
                                                    <mat-icon matTooltip="Editar">edit_square</mat-icon>
                                                </div>

                                                <div class="btn-new-activity">
                                                    <mat-icon matTooltip="Factura">library_add</mat-icon>
                                                </div>

                                                <div class="btn-delete" (click)="deleteData()">
                                                    <mat-icon matTooltip="Eliminar">delete</mat-icon>
                                                </div>

                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr *matNoDataRow>
                                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                                            <h5 class="text-center my-5">No se encontraron resultados.</h5>
                                        </td>
                                    </tr>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                </table>
                            </div>

                            <!-- <div class="d-flex justify-content-end" style="background: none;"> 
                                <mat-paginator
                                    #paginator
                                    [length]="total"
                                    [pageIndex]="indicePagina"
                                    [pageSize]="longitudPagina"
                                    [pageSizeOptions]="[5, 10, 25, 50, 100]"
                                    (page)="cambiaPagina($event)"
                                    class="w-100"
                                ></mat-paginator>
                            </div> -->
                        </div>


                    </ng-template>
                </mat-tab>
                <mat-tab *ngIf="selectedProject == 'Agregadas recientemente'">
                    <ng-template matTabContent>
                        <div class="row">
                            <div class="col-12 contenedor-scroll-tabla">
                                <div class="table-header ">
                                    <h1 class="mb-5">Empresas agregadas recientemente</h1>
                                </div>

                                <table mat-table #table [dataSource]="dataSourceAgregadosRecientemente"
                                    class="w-100 tabla-personalizada-default">
                                    <caption></caption>

                                    <ng-container matColumnDef="empresa">
                                        <th mat-header-cell *matHeaderCellDef>Empresa</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.empresa }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="estatus">
                                        <th mat-header-cell *matHeaderCellDef>Estatus</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.estatus}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="fechaRegistro">
                                        <th mat-header-cell *matHeaderCellDef>Fecha de registro</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.fechaRegistro}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="monto">
                                        <th mat-header-cell *matHeaderCellDef>Monto</th>
                                        <td mat-cell *matCellDef="let element" class="table-texto-largo">
                                            {{element.monto}}
                                        </td>
                                    </ng-container>

                                    <tr *matNoDataRow>
                                        <td class="mat-cell"
                                            [attr.colspan]="displayedColumnsAgregadasRecientemente.length">
                                            <h5 class="text-center my-5">No se encontraron resultados.</h5>
                                        </td>
                                    </tr>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAgregadasRecientemente"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAgregadasRecientemente">
                                    </tr>
                                </table>
                            </div>

                            <!-- <div class="d-flex justify-content-end" style="background: none;"> 
                                <mat-paginator
                                    #paginator
                                    [length]="total"
                                    [pageIndex]="indicePagina"
                                    [pageSize]="longitudPagina"
                                    [pageSizeOptions]="[5, 10, 25, 50, 100]"
                                    (page)="cambiaPagina($event)"
                                    class="w-100"
                                ></mat-paginator>
                            </div> -->
                        </div>


                    </ng-template>
                </mat-tab>

                <mat-tab *ngIf="selectedProject == 'Más comprados'">
                    <ng-template matTabContent>
                        <div class="row">
                            <div class="col-12 contenedor-scroll-tabla">
                                <div class="table-header mb-5">
                                    <h1>Empresas que más han comprado</h1>
                                    <span>Total: $1,000.00</span>
                                </div>

                                <table mat-table #table [dataSource]="dataSourceMasComprados"
                                    class="w-100 tabla-personalizada-default">
                                    <caption></caption>

                                    <ng-container matColumnDef="empresa">
                                        <th mat-header-cell *matHeaderCellDef>Empresa</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.empresa }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="fechaRegistro">
                                        <th mat-header-cell *matHeaderCellDef>Fecha de registro</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.fechaRegistro}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="monto">
                                        <th mat-header-cell *matHeaderCellDef>Monto</th>
                                        <td mat-cell *matCellDef="let element" class="table-texto-largo">
                                            {{element.monto}}
                                        </td>
                                    </ng-container>

                                    <tr *matNoDataRow>
                                        <td class="mat-cell" [attr.colspan]="displayedColumnsMascomprados.length">
                                            <h5 class="text-center my-5">No se encontraron resultados.</h5>
                                        </td>
                                    </tr>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsMascomprados"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsMascomprados"></tr>
                                </table>
                            </div>

                            <!-- <div class="d-flex justify-content-end" style="background: none;"> 
                                <mat-paginator
                                    #paginator
                                    [length]="total"
                                    [pageIndex]="indicePagina"
                                    [pageSize]="longitudPagina"
                                    [pageSizeOptions]="[5, 10, 25, 50, 100]"
                                    (page)="cambiaPagina($event)"
                                    class="w-100"
                                ></mat-paginator>
                            </div> -->
                        </div>


                    </ng-template>
                </mat-tab>


            </mat-tab-group>
        </div>
    </div>

</div>