.c-new-bono {

    .scalee {
        h1 {
            margin-top: 35px;
        }
    }


    h1 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
        color: #1E293B;
        margin-bottom: 25px ;
    }
    .promotion {
        span {
            font-size: 16px;
            font-weight: 700;
            color: #646878;
            margin-bottom: 20px;
        }
    }

    .inputsRadioGroupBold {
        flex-direction: column!important;
    }
    .separationSection {
        h1 {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 700;
            color: #1E293B;
            margin-bottom: 25px ;
        }
    }
}