<div class="grid grid-cols-1 w-full min-w-0">
    <div class="grid grid-cols-1 w-full min-w-0">
        <div class="row d-flex">
            <div class="d-flex col-md-12 col-xl-12 col-12 pt-md-2 justify-content-end align-items-end ">
                <button class="btn-yellow" (click)="newContact()">
                    <span>Agregar contacto</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row my-8">
    <div class="col-md-6" *ngFor="let data of contacts; let i = index;">
        <div class="contact-content">
            <p>Contacto {{i + 1}}</p>

            <div class="c-info-contact">
                <div class="d-flex align-content-center gap-2">
                    <p>Nombre:</p>
                    <span>{{data.name}}</span>
                </div>

                <div class="d-flex align-content-center gap-2">
                    <p>Cargo:</p>
                    <span>{{data.position}}</span>
                </div>
                
                <div class="d-flex align-content-center gap-2">
                    <p>Correo:</p>
                    <span>{{data.email}}</span>
                </div>
                
                <div class="d-flex align-content-center gap-2">
                    <p>Telefono fijo:</p>
                    <span>{{data.landline}}</span>
                </div>
         
                <div class="d-flex align-content-center gap-2">
                    <p>Extención:</p>
                    <span>{{data.extension}}</span>
                </div>
              
                <div class="d-flex align-content-center gap-2">
                    <p>Teléfono móvil:</p>
                    <span>{{data.phoneMovil}}</span>
                </div>
            </div>
        </div>
    </div>

</div>