<div class="container-fluid p-0 overflow-hidden bg-white">

    <div class="return-header">
        <mat-icon svgIcon="mat_solid:arrow_back" (click)="toBack()"></mat-icon>
        <p class="titulo-modal form-padding-title">{{ url.includes('editar') ? 'Editar' : 'Registrar nuevo'}} prospecto</p>
    </div> 

    <div class="row form-padding d-flex">

        <p class="mb-6">*Campos obligatorios</p>

        <form class="col-12" [formGroup]="formData">
            <div>
                <div class="row">
                    <div class="col-md-6">

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Nombre de la empresa (razón social)</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Correo</mat-label>
                            <input matInput formControlName="email" type="email">
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Página web</mat-label>
                            <input matInput formControlName="web">
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value && !esClient || esClient">
                            <mat-label>País</mat-label>
                            <mat-select formControlName="country" placeholder="Seleccionar">
                                <mat-option value="1">Pais 1</mat-option>
                                <mat-option value="2">Pais 2</mat-option>
                                <mat-option value="3">Pais 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value && !esClient || esClient">
                            <mat-label>Ciudad</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Ciudad 1">Ciudad 1</mat-option>
                                <mat-option value="Ciudad 2">Ciudad 2</mat-option>
                                <mat-option value="Ciudad 3">Ciudad 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Giro</mat-label>
                            <mat-select formControlName="giro" placeholder="Seleccionar">
                                <mat-option value="Giro 1">Giro 1</mat-option>
                                <mat-option value="Giro 2">Giro 2</mat-option>
                                <mat-option value="Giro 3">Giro 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value && !esClient || esClient">
                            <mat-label>Tamaño de empresa*</mat-label>
                            <mat-select formControlName="companySize" placeholder="Seleccionar">
                                <mat-option value="1">Tamaño de empresa 1</mat-option>
                                <mat-option value="2">Tamaño de empresa 2</mat-option>
                                <mat-option value="3">Tamaño de empresa 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="flex-auto gt-xs:pr-3 width-100 mt-4 mb-4" *ngIf="addContact?.value && !esClient || esClient">
                            <div class="row d-flex up">
                                <div class="col-md-8">
                                    <div class="d-flex flex-column inputNewRegister">
                                        <mat-label class="mb-1">Imagen</mat-label>
                                        <input formControlName="file" type="file" name="eta">
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-end" *ngIf="!url.includes('detalle')">
                                    <button class="btn-action-add">
                                        <span>Subir</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value && !esClient || esClient">
                            <mat-label>RFC</mat-label>
                            <input formControlName="rfc" matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Teléfono</mat-label>
                            <input formControlName="phone" matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value && !esClient || esClient">
                            <mat-label>Propietario (agente)</mat-label>
                            <mat-select formControlName="agent" placeholder="Seleccionar">
                                <mat-option value="Propietario (agente) 1">Propietario (agente) 1</mat-option>
                                <mat-option value="Propietario (agente) 2">Propietario (agente) 2</mat-option>
                                <mat-option value="Propietario (agente) 3">Propietario (agente) 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value && !esClient || esClient">
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="state" placeholder="Seleccionar">
                                <mat-option value="Estado* 1">Estado* 1</mat-option>
                                <mat-option value="Estado* 2">Estado* 2</mat-option>
                                <mat-option value="Estado* 3">Estado* 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value && !esClient || esClient">
                            <mat-label>Domicilio</mat-label>
                            <input formControlName="adress" matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Origen</mat-label>
                            <mat-select formControlName="origin" placeholder="Seleccionar">
                                <mat-option value="Origen* 1">Origen* 1</mat-option>
                                <mat-option value="Origen* 2">Origen* 2</mat-option>
                                <mat-option value="Origen* 3">Origen* 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value && !esClient || esClient">
                            <mat-label>Tipo empresa</mat-label>
                            <mat-select formControlName="companyType" placeholder="Seleccionar">
                                <mat-option value="Tipo empresa* 1">Tipo empresa* 1</mat-option>
                                <mat-option value="Tipo empresa* 2">Tipo empresa* 2</mat-option>
                                <mat-option value="Tipo empresa* 3">Tipo empresa* 3</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Comentario*</mat-label>
                            <textarea formControlName="comments" matInput style="height: 118px;"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="input-check mt-1" *ngIf="!esClient">
                    <mat-checkbox class="mb-2" [checked]="true" [formControl]="addContact">
                        {{ url.includes('detalle') ? 'Ver' : 'Realizar' }} el registro completo
                    </mat-checkbox>
                </div>

                <div class="row mb-lg-0 mb-sm-0 mb-3">
                    <div class="section-header-modal">
                        Contactos
                    </div>
                </div>

                <div class="row" *ngFor="let ejecucion of valuesContacts; let i = index;">
                    <div class="col-md-6">

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Nombre y apellidos</mat-label>
                            <input matInput [formControl]="ejecucion.nombreControl">
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Correo</mat-label>
                            <input matInput [formControl]="ejecucion.correoControl">
                        </mat-form-field>


                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Teléfono fijo</mat-label>
                            <input matInput [formControl]="ejecucion.telefonoControl">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Cargo / Puesto</mat-label>
                            <input matInput [formControl]="ejecucion.cargoControl">
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Teléfono móvil</mat-label>
                            <input matInput [formControl]="ejecucion.movilControl">
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Extención</mat-label>
                            <input matInput [formControl]="ejecucion.extensionControl">
                        </mat-form-field>
                    </div>

                    <div *ngIf="valuesContacts.length > 1" class="col-md-12 d-flex align-items-center justify-content-end c-column-btns mt-5">
                        <div class="btn-delete" (click)="deleteContact(i)">
                            <mat-icon matTooltip="Eliminar">delete</mat-icon>
                        </div>
                    </div>
                    <hr class="mt-5 mb-5" *ngIf="valuesContacts?.length > 1">
                </div>
            </div>

            <div *ngIf="!url.includes('detalle')" class="row d-flex justify-content-between align-items-center mb-3 mt-5">
                <div class="d-flex col-md-6 col-xl-6 col-12 pt-md-2 mb-6">
                    <button class="btn-gray" (click)="addFormContact()">
                        <span>Agregar contacto</span>
                    </button>
                </div>

                <div class="d-flex justify-content-end col-md-3 col-xl-3 col-12 pt-md-2 mt-6">
                    <button class="btn-action-add" [disabled]="canSave" (click)="save()">
                        <span>Guardar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>