<div class="container-fluid overflow-hidden c-inbox">
    <div class="">


        <div class="d-flex justify-content-end cursos-pointer">
            <mat-icon svgIcon="mat_outline:cancel" (click)="closeModal()"></mat-icon>
        </div>

        <div class="header-title">
            <div class="d-flex align-items-center">
                <img src="../../../../../../../assets//images/img-face.png" alt="">
                <div class="d-flex flex-column">
                    <h1>RECK SOLUCIONES</h1>
                    <span>Asunto: Vencimiento</span>
                </div>
            </div>

            <mat-icon class="icon-size-6" svgIcon="heroicons_solid:star"></mat-icon>
        </div>


        <div class="inbox-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sodales ultricies dui, eget scelerisque
            ante dictum ut. Sed leo diam, rhoncus quis blandit sit amet, cursus non massa. Aliquam non dolor vitae nisl
            suscipit varius. Maecenas eu purus ex. Sed accumsan nunc ac eros semper, in posuere lacus feugiat.
            <br>
            <br>
            Aenean mauris orci, elementum nec interdum et, mollis ut enim. Maecenas rhoncus justo id tellus porta, id
            faucibus diam varius. Curabitur et placerat quam. Praesent mattis urna ac turpis ultricies aliquet. Donec
            finibus aliquet tortor, suscipit efficitur nibh sagittis nec. Integer eu auctor ipsum. Nunc porttitor
            lacinia erat sed porttitor. Nam imperdiet congue lacus eget blandit. Phasellus placerat dapibus magna, eu
            accumsan tellus cursus vel.
        </div>

        <div class="clip d-flex gap-3 align-items-center">
            <mat-icon class="icon-size-6" svgIcon="heroicons_mini:paper-clip"></mat-icon>
            <span>3 archivos adjuntos</span>
        </div>

    </div>
</div>
<div class="inbox-footer">
    <button class="btn-gray">
        <span>Responder</span>
    </button>

    <div class="c-column-btns mb-0">
        <div class="btn-delete">
            <mat-icon matTooltip="Eliminar">delete</mat-icon>
        </div>
    </div>
</div>