<div class="container-fluid p-0 overflow-hidden">

    <div class="modal-header">
        <p class="titulo-modal">{{ data?.info ? 'Editar' : 'Registrar nuevo'}} tipo de {{ type }}</p>

        <mat-icon class="cursos-pointer" svgIcon="mat_outline:cancel" (click)="closeModal()"></mat-icon>
    </div>

    <div class="row p-5 d-flex">
        <p class="mb-6">*Campos obligatorios</p>

        <div class="col-12 modal-content-scroll">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                        <mat-label>Nombre</mat-label>
                        <input [formControl]="name" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="data.type == 'activity'">
                    <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                        <mat-label>Icono</mat-label>
                        {{icon.value}}
                        <mat-select [formControl]="icon" placeholder="Seleccionar">
                            <mat-option [value]="icon.name" *ngFor="let icon of icons">
                                <mat-icon>{{icon?.name || '-'}}</mat-icon>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="data.type == 'subactivity'">
                    <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                        <mat-label>Tipo actividad</mat-label>
                        <mat-select [formControl]="activityType" placeholder="Seleccionar">
                            <mat-option [value]="cat.type_activity_id" *ngFor="let cat of activityTypes">{{cat?.activity
                                ||
                                '-'}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <div class="d-flex flex-column c-input-color inputNewRegister">
                        <mat-label>Color</mat-label>
                        <input [formControl]="color" type="color" class="form-control form-control-color width-100"
                            value="#563d7c">
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-end">
                <div class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2">
                    <button class="btn-action-add" (click)="actionSave()">
                        <span>Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>