.vertical-center {
	display: flex;
	align-items: center;
}

.icon-class {
	color: #0c619f;
	cursor: pointer;
}

.text-class {
	font-weight: 500;
	font-size: 45px;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
