<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-home" cdkScrollable>

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8">

            <!-- FILTERS  -->
            <form class="row mt-5 mb-5" [formGroup]="formFilters">
                <div class="col-12">

                    <div class="row d-flex justify-content-end">
                        <div class="c-tickets">
                            <mat-icon>language</mat-icon>
                            <p>6559</p>
                            <p class="font-light">Entradas</p>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center">

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Usuario</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="user">
                                    <mat-option value="country-1">Usuario 1</mat-option>
                                    <mat-option value="Usuario-2">Usuario 2</mat-option>
                                    <mat-option value="Usuario-3">Usuario 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Giro</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="giro">
                                    <mat-option value="Giro-1">Giro 1</mat-option>
                                    <mat-option value="Giro-2">Giro 2</mat-option>
                                    <mat-option value="Giro-3">Giro 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Campaña</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="company">
                                    <mat-option value="Campaña-1">Campaña 1</mat-option>
                                    <mat-option value="Campaña-2">Campaña 2</mat-option>
                                    <mat-option value="Campaña-3">Campaña 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Rango de fechas</mat-label>
                                <mat-date-range-input [max]="fechaHoy" [rangePicker]="campaignOnePicker"
                                    [comparisonStart]="formFilters.value['rangeDateStart']"
                                    [comparisonEnd]="formFilters.value['rangeDateEnd']">
                                    <input matStartDate placeholder="Inicio" formControlName="rangeDateStart" />
                                    <input matEndDate placeholder="Final" formControlName="rangeDateEnd" />
                                </mat-date-range-input>

                                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-end">
                        <div class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2">
                            <button class="btn-search " (click)="SearchWithFilters()">
                                <span>Buscar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full mx-auto">

            <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'" (selectedTabChange)="onTabChange($event)">

                <mat-tab label="Día">
                    <ng-template matTabContent>
                       

                    </ng-template>
                </mat-tab>

                <mat-tab label="Mes">
                </mat-tab>

                <mat-tab label="Año">
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>

   

</div>