<div class="c-general-table p-0">
    <div class="col-12 contenedor-scroll-tabla">

        <table mat-table #table [dataSource]="dataSource" class="w-100 tabla-personalizada-default">
            <caption></caption>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="assignedTask">
                <th mat-header-cell *matHeaderCellDef>Tarea asignada</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.assignedTask }}
                </td>
            </ng-container>


            <ng-container matColumnDef="periodThe">
                <th mat-header-cell *matHeaderCellDef>Perodo del al </th>
                <td mat-cell *matCellDef="let element">
                    <div class="table-column-date-start-end" *ngFor="let info of element.periodThe">
                        <span> {{ info.del }} </span>
                        <span> {{ info.al }} </span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="solutions">
                <th mat-header-cell *matHeaderCellDef>Solución</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngFor="let info of element.solutions">
                        <span> {{ info.sol1 }} </span> <br>
                        <span> {{ info.sol2 }} </span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="agent">
                <th mat-header-cell *matHeaderCellDef>Agentes</th>
                <td mat-cell *matCellDef="let element">
                    <div class="seeAll">
                        {{ element.agent }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="bonoType">
                <th mat-header-cell *matHeaderCellDef>Tipo de bono</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.bonoType }}
                </td>
            </ng-container>

            <ng-container matColumnDef="base">
                <th mat-header-cell *matHeaderCellDef>Base</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.base }}
                </td>
            </ng-container>

            <ng-container matColumnDef="meta">
                <th mat-header-cell *matHeaderCellDef>Meta</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.meta }}
                </td>
            </ng-container>

            <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef>Comentario</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.comments }}
                </td>
            </ng-container>


            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <div class="c-column-btns ">

                        <!-- <div class="btn-see">
                            <mat-icon matTooltip="Ver" (click)="deleteData(element)">visibility</mat-icon>
                        </div> -->

                        <div class="btn-edit" (click)="deleteData(element)">
                            <mat-icon matTooltip="Editar">edit_square</mat-icon>
                        </div>

                        <div class="btn-copy" (click)="cloneData()">
                            <mat-icon matTooltip="Copiar">content_copy</mat-icon>
                        </div>

                        <div class="btn-delete" (click)="deleteData(element)">
                            <mat-icon matTooltip="Eliminar">delete</mat-icon>
                        </div>


                    </div>
                </td>
            </ng-container>


            <tr *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    <h5 class="text-center my-5">No se encontraron resultados.</h5>
                </td>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>