.c-history {

    .c-scroll {
        height: 600px;
        overflow: auto;
    }

    .star-color {
        color: white;
        background: #00C292;
    }


    .history-title {
        font-size: 16px;
        font-weight: 700;
        color: #646878;
    }

    .history-agent {
        font-size: 14px;
        font-weight: 700;
        color: #646878;
        margin-top: 5px;
    }


}