<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-config" s cdkScrollable>

    <div class="bg-card rounded-4 section-padding-admin">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8">
            <div class="row mt-5 mb-5">
                <div class="col-12">

                    <div class="section-title row d-flex justify-content-between align-items-center">

                        <div class="col-md-7 col-sm-12 col-12 title">
                            
                            {{isBono ? 'Bonos' : 'Soluciones'}}
                        </div>

                        <div class="col-md-5 col-sm-12 col-12 btns-section">
                            <button class="btn-yellow-newRegister ml-3 px-1 sm:px-4 min-w-10" (click)="newData()">
                                <span class="hidden sm:inline-block">Registrar {{isBono ? 'nuevo bono' : 'nueva solución'}}</span>
                            </button>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center">

                        <div class="flex col-sm-12  col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Año</mat-label>
                                <mat-select placeholder="Seleccionar" >
                                    <mat-option value="Año-1">Año 1</mat-option>
                                    <mat-option value="Año-2">Año 2</mat-option>
                                    <mat-option value="Año-3">Año 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Mes</mat-label>
                                <mat-select placeholder="Seleccionar" >
                                    <mat-option value="Mes-1">Mes 1</mat-option>
                                    <mat-option value="Mes-2">Mes 2</mat-option>
                                    <mat-option value="Mes-3">Mes 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Rango de fechas</mat-label>
                                <mat-date-range-input [max]="fechaHoy" [rangePicker]="campaignOnePicker"
                                    [comparisonStart]=""
                                    [comparisonEnd]="">
                                    <input matStartDate placeholder="Inicio" />
                                    <input matEndDate placeholder="Final" />
                                </mat-date-range-input>

                                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <div class="row d-flex justify-content-end">
                                <div class="d-flex justify-content-end">
                                    <button class="btn-search" >
                                        <span>Filtrar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="d-flex col-md-5 col-xl-5 col-12 pt-md-2">
                            <div class="input-search">
                                <input type="text" placeholder="Búscar">
                                <mat-icon class="icon-size-6" matSuffix [svgIcon]="'mat_solid:search'"></mat-icon>
                            </div>
                        </div>
                        <div class="d-flex col-md-7 col-xl-7 col-12 pt-md-2 justify-content-end align-items-end">
                            <button class="btn-excel ml-3 px-1 sm:px-4 min-w-10" (click)="douwnloadExel()">
                                <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <mat-tab-group class="mat-grupo-color sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'" (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Bono">
                <ng-template matTabContent>
                    <app-bonuses></app-bonuses>
                </ng-template>
            </mat-tab>

            <mat-tab label="Solución">
                <ng-template matTabContent>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

    </div>

</div>