.c-files {
    .bg-card {
        background: #EDF1F5;
    }

    .info-document {
        background: #EDF1F5;
        box-shadow: -5px 4px 10px 0px #00000040;
        height: auto;
        min-height: 560px;
        padding: 10px;
        
        
        .content-document {
            background: #FFFFFF;
            height: 550px;
            border-radius: 20px;
            padding: 27px;


            .formt {
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                height: 200px;

                span {
                    color: #1E293B;
                    font-size: 16px;
                    font-weight: 700;
                    text-align: center;
                }

            }
            .information-doc {
                > h1 {
                    border-bottom: 1px solid #B7B7B7;
                    padding-bottom: 15px;
                }
                h1 {
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                    color: #646878;

                }
                
                > div {
                    border-bottom: 1px solid #B7B7B7;
                    padding-bottom: 15px;
                    margin-top: 12px;
                }

                span {
                    color: #646878;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                }
            }
        }
    }
}

.color-icon-document {

    color: #385A6D!important;
}