<div class="container-fluid p-0 overflow-hidden">

    <div class="modal-header">
        <p class="titulo-modal">Registrar nuevo producto</p>
        <mat-icon class="cursos-pointer" svgIcon="mat_outline:cancel" (click)="closeModal()"></mat-icon>
    </div>

    <div class="row p-5 d-flex">

        <p class="mb-6">*Campos obligatorios</p>

        <form class="col-12 modal-content-scroll">
            <div class="row">
                <div class="col-md-6">

                    <mat-form-field class="flex-auto gt-xs:pr-3 width-100">
                        <mat-label>Nombre de la empresa*</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="flex-auto gt-xs:pr-3 width-100">
                        <mat-label>Giro*</mat-label>
                        <mat-select placeholder="Seleccionar">
                            <mat-option value="giro1">Giro 1</mat-option>
                            <mat-option value="giro2">Giro 2</mat-option>
                            <mat-option value="giro3">Giro 3</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="flex-auto gt-xs:pr-3 width-100">
                        <mat-label>Correo*</mat-label>
                        <input matInput>
                    </mat-form-field>

                </div>
                <div class="col-md-6">
                    <mat-form-field class="gt-xs:pr-3 width-100">
                        <mat-label>Propietario (Agente)*</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="flex-auto gt-xs:pr-3 width-100">
                        <mat-label>RFC*</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="flex-auto gt-xs:pr-3 width-100">
                        <mat-label>Teléfono*</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="input-check">
                    <mat-checkbox class="mb-2" [checked]="true" >
                        Realizar el registro completo
                    </mat-checkbox>
                </div>
            </div>

            <div class="row d-flex justify-content-end">
                <div class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2">
                    <button class="btn-add-action" (click)="closeModal()">
                        <span>Guardar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>