<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-home" cdkScrollable>

    <!-- Header -->
    <div class=" row flex-auto border-t -mt-px pt-4 sm:pt-6 p-8">
        
        <div class="col-12 bg-card card-quotes">

            <div class="row card-header-quotes">
                <div class="col-md-7 title">
                    <span>Cotización # 1614</span>
                    <span>Fecha: 2023-09-30</span>
                </div>

                <div class="col-md-5 img-title">
                    <div class="row">
                        <div class="col-6 img">
                            <img src="../../../../assets/images/img-face.png" alt="">
                        </div>
                        <div class="col-6 text-img">
                            <span>Dakve S.A. de C.V.</span>
                            <span>Lorem ipsum </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row content-colum">
                <div class="col-md-8 header-content">
                    Producto
                </div>
                <div class="col-md-2 header-content">
                    Cantidad
                </div>
                <div class="col-md-2 header-content">
                    Precio
                </div>
            </div>
         
            <div class="row content">
                <div class="col-md-8 header-content">
                    
                    <div class="header-option">
                        <div>
                            <h1>Opción 1:</h1>
                            <span>Precio Lista</span>
                        </div>

                        <span>22 lugares</span>
                    </div>
                </div>

                <div class="col-md-2 header-content">
                    <span>
                        22 lugares
                    </span> 
                </div>
                <div class="col-md-2 header-content">
                    <span>
                        Total
                    </span>
                    <br>
                     <span class="text-center">
                        *$ 9,240.00 <br>
                        (IVA Incluido)
                    </span>
                </div>
            </div>

            <div class="row content-colum">
                <div class="col-md-12 header-content pays">
                    Forma de pago y condiciones:
                </div>

                <div class="row">
                    <ul  class="list-unstyled">
                        <li>Transferencia Bancaria / Pago anticipado <a href="#">¿Qué otras formas de pago hay?</a></li>
                        <li>Precios en MXP</li>
                        <li>Aplica para cualquier curso disponible de la plataforma abrevius bajo los Términos y Condiciones comerciales establecidos. /<a href="#">Ver aquí catálogo de cursos disponibles</a></li>
                      </ul>
                </div>

            </div>

            <div class="row content-colum">
                <div class="col-md-12 header-content pays">
                    Realizar pago en:
                </div>

                <div class="row">
                    <span>En caso de favorecernos con su preferencia, su empresa podrá realizar el pago vía transferencia bancaria a los siguientes datos:Abrevius, S.A. de C.V. - BBVA / Número de cuenta: 0111202383 / CLABE: 012 320 00111202383 3</span>
                </div>
            </div>

            <div class="row content-colum">
                <div class="col-md-12 header-content pays">
                    Notificar pago:
                </div>

                <div class="row">
                    <span>Una vez realizada la transferencia favor de enviar al correo {{'atencion@abrevius.com'}}:</span> 
                    <ul  class="list-unstyled">
                        <li>El comprobante bancario</li>
                        <li>Mencionar el numero de Cotización que está pagando</li>
                        <li>Sus datos de facturación con alta del SAT (clientes nuevos)</li>
                      </ul>
                </div>
            </div>

            <div class="row advantages mb-8">
                <span>Ventajas de tomar nuestros cursos</span>                
            </div>

        </div>
    </div>
</div>