<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-home" cdkScrollable>
    <div class=" row flex-auto border-t -mt-px pt-4 sm:pt-6 p-8">
        
        <div class="col-12 bg-card card-quotes">

            <div class="row card-header-quotes">
                <div class="col-md-7 title">
                    <span>Cotización # 1614</span>
                    <span>Fecha: 2023-09-30</span>
                </div>

                <div class="col-md-5 img-title">
                    <div class="row">
                        <div class="col-6 img">
                            <img src="../../../../assets/images/img-face.png" alt="">
                        </div>
                        <div class="col-6 text-img">
                            <span>Dakve S.A. de C.V.</span>
                            <span>Lorem ipsum </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row content-colum">
                <div class="col-md-8 header-content-quote">
                    Producto
                </div>
                <div class="col-md-2 header-content-quote">
                    Cantidad
                </div>
                <div class="col-md-2 header-content-quote">
                    Precio
                </div>
            </div>
         
            <div class="row content">
                <div class="col-md-8 header-content-quote">
                    
                    <div class="header-option">
                        <div class="title">
                            <h1>Opción 1:</h1>
                            <span>Precio Lista</span>
                        </div>

                        <span>22 lugares</span>
                        
                        <div class="info">
                            <p>
                                Para usar <a class="advantages" href="#">vía monedero</a> en cualquiera de los cursos disponibles en la plataforma abrevius.com, entre ellos: <br>
                                <a class="advantages" href="#">M000 Monedero (PL) Lugares/DC-3 Libre</a>
                            </p>

                            <span>22 lugares</span>

                            <ul class="list-unstyled ml-2">
                                <li>*Precio Opción 1 vigente hasta el 06 de Oct, 2023</li>
                                <li>*Solo para cursos dentro de la plataforma Abrevius.com</li>
                            </ul>

                            <a href="" class="advantages">Ver aquí catálogo de cursos disponibles</a>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-2 header-content-quote">
                    <span>
                        22 lugares
                    </span> 
                </div>
                <div class="col-md-2 header-content-quote">
                    <span>
                        Total
                    </span>
                    <br>
                     <span class="text-center">
                        *$ 9,240.00 <br>
                        (IVA Incluido)
                    </span>
                </div>
            </div>

            <div class="row content-colum">
                <div class="col-md-12 header-content-quote pays">
                    Forma de pago y condiciones:
                </div>

                <div class="row">
                    <ul  class="list-unstyled">
                        <li>Transferencia Bancaria / Pago anticipado <a href="#">¿Qué otras formas de pago hay?</a></li>
                        <li>Precios en MXP</li>
                        <li>Aplica para cualquier curso disponible de la plataforma abrevius bajo los Términos y Condiciones comerciales establecidos. /<a href="#">Ver aquí catálogo de cursos disponibles</a></li>
                    </ul>
                </div>
            </div>

            <div class="row content-colum">
                <div class="col-md-12 header-content-quote pays">
                    Realizar pago en:
                </div>

                <div class="row">
                    <span>En caso de favorecernos con su preferencia, su empresa podrá realizar el pago vía transferencia bancaria a los siguientes datos:Abrevius, S.A. de C.V. - BBVA / Número de cuenta: 0111202383 / CLABE: 012 320 00111202383 3</span>
                </div>
            </div>

            <div class="row content-colum">
                <div class="col-md-12 header-content-quote pays">
                    Notificar pago:
                </div>

                <div class="row">
                    <span>Una vez realizada la transferencia favor de enviar al correo {{'atencion@abrevius.com'}}:</span> 
                    <ul  class="list-unstyled">
                        <li>El comprobante bancario</li>
                        <li>Mencionar el numero de Cotización que está pagando</li>
                        <li>Sus datos de facturación con alta del SAT (clientes nuevos)</li>
                      </ul>
                </div>
            </div>

            <div class="row advantages advantages-p">
                <span>Ventajas de tomar nuestros cursos</span>                
            </div>
      
            <div class="row advantages advantages-p">
                <mat-form-field class="flex-auto p-0">
                    <textarea matInput style="height: 400px;"></textarea>
                </mat-form-field>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 section-btns-footer">
                    <button class="btn-gray-icon">
                        <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                        <span>Editar</span>
                    </button>
                    <button class="btn-action-add">
                        <span>Enviar correo</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>