<div class="container-fluid p-0 overflow-hidden bg-white c-new-quote">

    <div class="return-header">
        <mat-icon svgIcon="mat_solid:arrow_back" (click)="toBack()"></mat-icon>
        <p class="titulo-modal">Registrar nueva cotización</p>
    </div>

    <div class="row form-padding d-flex">

        <p class="mb-6">*Campos obligatorios</p>

        <form class="col-12 new-content">
            <div>
                <div class="row">
                    <div class="col-md-6">

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Prospecto / empresa*</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="giro1">Prospecto / empresa 1</mat-option>
                                <mat-option value="Prospectoempresa">Prospecto / empresa 2</mat-option>
                                <mat-option value="Prospectoempresa">Prospecto / empresa 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Agente a asignar</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="giro1">Agente 1</mat-option>
                                <mat-option value="Prospectoempresa">Agente 2</mat-option>
                                <mat-option value="Prospectoempresa">Agente 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Campaña</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Campaña">Campaña 1</mat-option>
                                <mat-option value="Campaña">Campaña 2</mat-option>
                                <mat-option value="Campaña">Campaña 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Contacto</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Contacto">Contacto 1</mat-option>
                                <mat-option value="Contacto">Contacto 2</mat-option>
                                <mat-option value="Contacto">Contacto 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Forma de pago</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Forma de pago">Forma de pago 1</mat-option>
                                <mat-option value="Forma de pago">Forma de pago 2</mat-option>
                                <mat-option value="Forma de pago">Forma de pago 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row iva">
                    <div class="flex flex-col mt-4 gt-sm:mt-0 gt-sm:ml-16 inputsRadioGroupBold">
                        <span class="font-semibold mb-2">Cotización con iva</span>
                        <mat-radio-group class="d-flex flex-row" [value]="'just-good'">
                            <mat-radio-button class="mb-2" [value]="'Si'">
                                <span class="font-14-500-4B5062">Si</span>
                            </mat-radio-button>
                            <mat-radio-button class="mb-2" [value]="'No'">
                                <span class="font-14-500-4B5062">No</span>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="row">
                    <div class="section-header-modal">
                        Opción 1
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Lugares</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Producto</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="giro1">Producto 1</mat-option>
                                <mat-option value="Prospectoempresa">Producto 2</mat-option>
                                <mat-option value="Prospectoempresa">Producto 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Precio unitario</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Precio total</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mt-5 mb-5 d-flex justify-content-end">
                    <div class="col-md-4 col-xl-3 col-12">
                        <button mat-flat-button class="btn-action-add width-100">
                            <span>Agregar más productos</span>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Subtotal</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Descuento</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Total</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3 d-flex align-items-center justify-content-center">
                        <button class="recalculate">
                            <span>Recalcular</span>
                        </button>
                    </div>

                </div>

                <div class="row promotion">
                    <span>Vigencia promoción 1</span>
                    <div class="col-md-6">
                        <div class="row p-0">
                            <div class="col-md-6">
                                <mat-form-field class="flex-auto inputNewRegister width-100">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput [matDatepicker]="picker1">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <div class="d-flex flex-column">
                                    <mat-label>Hora</mat-label>
                                    <input class="input-time" type="time" name="eta">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex mb-6 mt-6">
                    <div class="col-md-4 col-xl-3 col-12">
                        <button mat-flat-button class="btn-action-add width-100">
                            <span>Agregar más opciones</span>
                        </button>
                    </div>
                </div>

                <div class="row d-flex justify-content-end create mt-6">
                    <div class="d-flex col-md-4 col-xl-3 col-12 pt-md-1 align-items-end mb-lg-0 mb-5 mb-sm-0">
                        <button mat-flat-button class="btn-gray width-100">
                            <span>Crear nuevo producto</span>
                        </button>
                    </div>

                    <div class="d-flex col-md-4 col-xl-3 col-12 pt-md-1 align-items-end mb-lg-0 mb-5 mb-sm-0">
                        <button mat-flat-button class="btn-yellow width-100" (click)="save()">
                            <span>Guardar cotización</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>