

.color-green {
    color: #24BB55;
}

// SECTIONS
.section-title {
    margin-bottom: 30px;

    .title {
        font-size: 32px;
        font-weight: 700;
        color: #4B5062;

        span {
            font-weight: 600;
            margin-left: 15px;
        }
    }

    .btns-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        color: #4B5062;
    }
}

.section-btns-footer {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.section-btns-two {
    display: flex;
    justify-content: start;
    gap: 30px;
}

.c-tickets {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    color: #4B5062;

    mat-icon {
        color: #34D3E9;
        font-size: 30px;
    }

    p {
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
    }
}

.color-icon-header {
    color: white !important;
}

.siderbarColor {
    background-color: #FCFEFF !important;
    box-shadow: 4px 4px 4px 0px #00000040 !important;
}

// MODAL 
.modal-content-scroll {
    overflow-x: hidden;
    max-height: 460px;
    padding-bottom: 20px;
}

// BTNS 
.btn-yellow {
    box-shadow: 4px 4px 4px 0px #00000040;
    background: #FCDE01;
    font-size: 20px;
    padding: 8px 35px;
    font-weight: 700;
    color: #1E293B;
    border-radius: 20px;
    font-size: 16px;
    // width: 90px;
    // height: 40px;
    margin-top: 20px;
}

.btn-excel {
    box-shadow: 4px 4px 4px 0px #00000040;
    background: #FCDE01;
    font-size: 20px;
    padding: 8px 35px;
    font-weight: 700;
    color: #1E293B;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: black;
    margin-top: 20px;

    mat-icon {
        color: black;
    }
}

.btn-search {
    background: #385A6D;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 90px;
    height: 40px;
    box-shadow: 3px 4px 4px 0px #00000040;
    border-radius: 10px;
}

.btn-newRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px 0px #00000040;
    background: #1E293B !important;
    font-size: 18px;
    padding: 8px 35px;
    font-weight: 700;
    text-align: center;
    border-radius: 20px;
    height: 46px;

    mat-icon {
        display: none;
        color: #FCDE01;
    }
    
    span {
        color: #FCDE01;
    }
}

.btn-async {
    color: #1E293B;
    background-color: #FCDE01 !important;
    box-shadow: 4px 4px 4px 0px #00000040;
    font-size: 18px;
    font-weight: 700;
}

.btn-edit-action {
    background: #E5E4E4;
    color: #1E293B;
    font-size: 16px;
    padding: 8px 35px;
    font-weight: 700;
    width: 90px;
    height: 40px;
    box-shadow: 3px 4px 4px 0px #00000040;
    border-radius: 100px;
}

.btn-add-action {
    background: #385A6D;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 35px;
    box-shadow: 3px 4px 4px 0px #00000040;
    border-radius: 100px;
}

.btn-add-action-gray {
    background: #E5E4E4;
    color: Botones;
    font-size: 16px;
    font-weight: 700;
    color: #385A6D;
    padding: 8px 35px;
    box-shadow: 3px 4px 4px 0px #00000040;
    border-radius: 100px;
}

.btn-add-action-gray-big {
    background: #E5E4E4;
    color: Botones;
    font-size: 16px;
    font-weight: 700;
    width: 170px;
    color: #385A6D;
    padding: 8px 15px;
    box-shadow: 3px 4px 4px 0px #00000040;
    border-radius: 100px;
}

// INPUTS
.input-check {
    mat-checkbox {
        label {

            font-size: 20px;
            color: #1E293B;
            font-weight: 600;
        }
    }
}


.input-time {
    color: rgb(203 213 225 / var(--tw-border-opacity));
    border: 1px solid rgb(203 213 225 / var(--tw-border-opacity));
    height: 50px;
    margin-top: 3px;
    padding: 14px;
    border-radius: 6px;
    background: rgb(255 255 255 / var(--tw-bg-opacity));
    background: #F5F5F5 !important;
    box-shadow: 4px 4px 4px 0px #00000040;
}

.input-search {
    position: relative;
    width: 100%;
    margin-top: 35px;

    input {
        width: 100%;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-color: #1E293B;
    }

    mat-icon {
        position: absolute;
        color: #B7B7B7;
        top: -5px;
        right: 4px;
    }
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1E293B;
    color: white;
    padding: 20px 40px;

    p {
        font-size: 20px;
        font-weight: 700;
        color: #EDF1F5;
    }
    
    mat-icon {
        color: #EDF1F5;
        cursor: pointer;
    }
}

.modal-header-back {
    display: flex;
    align-items: center;
    background: #1E293B;
    gap: 15px;
    color: white;
    padding: 20px 40px;

    p {
        font-size: 20px;
        font-weight: 700;
        color: #EDF1F5;
    }

    mat-icon {
        color: white;
        cursor: pointer;
    }
}


.card-quotes {
    box-shadow: 4px 4px 4px 0px #00000040;
    border-radius: 20px;

    .advantages-p, .btns-quote, .section-btns-footer {
        padding: 26px;
        
        // mat-form-field {
        //     height: 400px;
        // }

        // .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix {

        //     height: 905px;
        // }
        
        // textarea {
        //     height: 355px;
        // }
    }

    .card-header-quotes {
        padding: 38px 0 50px 30px;
        .title {
            display: flex;
            flex-direction: column;
            gap: 10px;   

            span:nth-child(1) {
                color: #646878;
                font-size: 32px;
                font-weight: 700;
            }

            span:nth-child(2) {
                color: #646878;
                font-size: 30px;
                font-weight: 400;
            }
        }

        .img-title {
            display: flex;
            align-items: center;
            height: 200px;
            background: #1E293B;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;

            .img {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 114px;
                    height: 114px;
                }
            }

            .text-img {
                display: flex;
                flex-direction: column;
                color: #EDF1F5;
                span:nth-child(1) {
                    font-size: 32px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    line-height: 41.6px;
                }

                span:nth-child(2) {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }

    .pays {
        height: 40px!important;
    }

    .content-colum {
        padding: 20px 23px 0 23px;
        
        span {
            font-size: 18px;
            color: #646878;
        }
        
        .header-content-quote {
            display: flex;
            align-items: center;
            color: #EDF1F5;
            background: #646878;
            height: 70px;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 30px;
        }
    }

    .content {
        padding: 0 26px 0 30px;
    
        .header-content-quote {
            span {
                font-size: 18px;
                color: #646878;
            }

            .header-option {

                .title {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h1 {
                        color: #646878;
                        font-weight: 700;
                        font-size: 18px;
                    }
                }

                span {
                    color: #646878;
                    font-weight: 400;
                }

                .info {
                    p {
                        color: #646878;
                        font-size: 18px;
                    }
                    a {
                        font-weight: 400!important;
                        color: #3487E9;
                        border-bottom: 1px solid #3487E9;
                    }

                }
            }
        }
    }

    li::before {
        content: "•";
        color: black;
        margin-right: 10px;
    }
    
    li {
        font-size: 18px;
        color: #646878;
        a {
            color: #3487E9;
            border-bottom: 1px solid #3487E9;
        }
    }

    .advantages {
        font-size: 18px;
        font-weight: 700;
        text-align: right;
        color: #3487E9;
    }
}

.section-header-modal {
    height: 40px;
    background: #646878;
    color: #EDF1F5;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin: 20px 0;
    padding-left: 40px;
    margin-bottom: 30px;
}

.up {
    display: flex;
    height: 71px;
    align-items: flex-end;
}