.mdc-data-table__table {
	display: table !important;
}

.mat-mdc-table {
	border: 1px solid #e3e2e6 !important;
	background-color: #fdfcff !important;
	border-collapse: separate !important;
	border-radius: 5px !important;
	width: 100vh !important;
}

// @media screen and (max-width: 875px) {
.mdc-data-table__table {
	// display: block!important;
	width: 100% !important;
	overflow: auto !important;
}
// }

.table-column-reck-solution {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		width: 50px;
		height: 50px;
	}

	span {
		font-size: 16px;
		font-weight: 700;
		color: #3487E9;
		border-bottom: 1px solid #3487E9;
	}
}

.table-column-contact {
	font-size: 16px;
	font-weight: 400;

	>div {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}

.table-column-lead-width {
	width: 130px;
	// max-width: 130px;
	padding: 5px;
}

.table-column-information {
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 15px;
	}

	span {
		background: #EDF1F5;
		font-size: 18px;
		font-weight: 700;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
		width: 130px;
		height: 45px;
	}

	h2 {
		font-size: 16px;
		font-weight: 400;
		color: #24BB55;
		border-bottom: 1px solid #24BB55;
	}
}

.table-column-totalPrice {
	// > h1 {
	// 	font-size: 22px;
	// 	font-weight: 700;
	// 	> span {
	// 		font-size: 20px;
	// 		font-weight: 400;
	// 	}
	// }
}

.table-column-lead {
	background: #EDF1F5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: -1px 4px 10px 0px #00000040;
	color: #1E293B;
	font-size: 18px;
	font-weight: 700;
}

.table-column-blue {
	background: #385A6D;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: -1px 4px 10px 0px #00000040;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 700;
	width: 130px;
}

.table-column-green {
	background: #24BB55;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: -1px 4px 10px 0px #00000040;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 700;
}

.table-column-two-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.see-all-column {
	cursor: pointer;
	color: #3487E9;
	padding-bottom: 5px;
	text-align: center;
	border-bottom: 1px solid #3487E9;
	font-size: 14px;
	font-weight: 700;
}

.tabla-personalizada-default {

	td {
		padding: 10px 15px;
		font-size: 16px;
		font-weight: 400;
		color: #1E293B;
		text-align: center;
	}

	background-color: white;
	border-collapse: collapse !important;

	#col-acciones {
		width: 15%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	th {
		text-align: center;
		color: white;
		font-size: 15px;
		font-weight: 700;
		background: #646878 !important;
		min-width: 200px !important;
		max-width: 250px !important;
	}

	th.editable {
		background-color: #e3e2e6;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.cursor-default {
		cursor: default;
	}

	input.columna-editable {
		background-color: transparent;
		border-radius: 4px;
		border: 1px solid black;
	}

	button[disabled] mat-icon {
		color: grey;
	}

	button mat-icon,
	mat-datepicker-toggle {
		color: #3f51b5;
	}

	.input-cell {
		min-width: 70px;
		width: auto;
	}

	.input-cell-calendario {
		min-width: 100px;
		height: 28px;
	}

	::ng-deep .calendario mat-datepicker-toggle .mdc-icon-button {
		width: 48px;
		height: 48px;
		padding: 10px;
	}

	.group-header {
		background-color: lightgray;
		font-weight: bold;
	}

	.group-cell {
		background-color: lightgray;
	}
}

.contenedor-scroll-tabla {
	max-width: 100%;
	overflow-y:auto ;
}


.table-texto-largo {
	line-height: 18px;
}

.table-column-documentos {
	display: flex;
	flex-direction: column;
	align-items: center;

	span {
		font-size: 18px;
		font-weight: 400;
		cursor: pointer;
	}

	span:nth-child(1) {
		margin-bottom: 15px;
		color: #E8C300;
		border-bottom: 1px solid #E8C300;
	}

	span:nth-child(2) {
		text-align: center;
		color: #24BB55;
		border-bottom: 1px solid #24BB55;
	}
}

.table-column-date-start-end {
	display: flex;
	flex-direction: column;
	align-items: center;

	span {
		font-size: 16px;
		font-weight: 400;
		cursor: pointer;
	}

	span:nth-child(1) {
		color: #026A1F;
		margin-bottom: 15px;
	}

	span:nth-child(2) {
		text-align: center;
		color: #FF0000;
	}
}

.table-column-img {
	color: #3487E9;
	border-bottom: 1px solid #3487E9;
	font-size: 16px;
	font-weight: 700;
	text-align: center;

	img {
		width: 50px;
		margin: auto;
		height: 50px;
	}
}

.table-column-agent-see-all {
	display: flex;
	flex-direction: column;
	align-items: center;

	span {
		font-size: 14px;
		font-weight: 700;
		cursor: pointer;
		text-align: center;

	}

	span:nth-child(1) {
		color: #1E293B;
		margin-bottom: 15px;
		line-height: 18px;
	}

	span:nth-child(2) {
		color: #3487E9;
		border-bottom: 1px solid #3487E9;
	}
}


.colum-tabla-see-results {
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	color: #3487E9;
	border-bottom: 1px solid #3487E9;
}

.colum-tabla-tabla-content {
	th {
		background: white !important;
		color: black;
	}
}

.colum-interest {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}

.table-column-two-botton-row {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 130px;
	margin: auto;

	div {
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		box-shadow: -1px 4px 10px 0px #00000040;

	}

	div:nth-child(2) {
		background: #24BB55;
		color: #FFFFFF;
	}
}

.table-column-three-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 130px;
	margin: auto;

	>div {
		font-size: 20px;
		font-weight: 700;
		text-align: center;

		>div {
			box-shadow: -1px 4px 10px 0px #00000040;
		}
	}

	>div:nth-child(2) {
		background: #24BB55;
		color: #FFFFFF;
	}
}

.table-column-two-buttons-info {
	display: flex;
	flex-direction: column;
	gap: 10px;

	>div {
		div {
			background: #24BB55;
			color: #FFFFFF;
			font-size: 20px;
			font-weight: 700;
			text-align: center;
			box-shadow: -1px 4px 10px 0px #00000040;
		}
	}


}

.c-general-table {
	padding: 30px;
}

.interest-high {
	color: #FF0000;
}

.colum-table-select .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper {
	background: #EDF1F5 !important;
}


.c-column-btns {
	display: flex;
	gap: 25px;
	align-items: center;
	margin-bottom: 18px!important;
	justify-content: center;
}

.column-color {
    width: 58px;
    height: 58px;
    border-radius: 100%;
	margin: auto;
}
.column-icon {
	margin: auto!important;
	width: 65px!important;
    height: 65px!important;
    font-size: 40px!important;
	display: flex!important;
	align-items: center!important;
	justify-content: center!important;
}

.c-column-btns {
	>div {
		box-shadow: 4px 4px 4px 0px #00000040;
		width: 35px;
		height: 35px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		cursor: pointer;
		justify-content: center;

		mat-icon {
			color: white;
			font-size: 22px;
		}
	}
	
}


.btn-edit {
	background: #FCDE01;

	mat-icon {
		color: #926000 !important;
	}
}

.btn-wallet {
	background: #026A1F;
}

.btn-receipt {
	background: #02386A;
}

.btn-copy {
	background: #5FC694;
}

.btn-print {
	background: #00AA80;
}

.btn-see {
	background: #3487E9;
}

.btn-new-activity {
	background: #00C292;
}

.btn-delete {
	background: #FF0000;
}

.btn-email {
	background: #006895;
}

.btn-phone {
	background: #008525;
}

.btn-flag {
	background: #00B332;
}