<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-pipeline"
    cdkScrollable
>
    <div class="bg-card section-padding">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8 pt-3">
            <form class="row mt-5 mb-5" [formGroup]="formFilters">
                <div class="col-12">
                    <div
                        class="section-title row d-flex justify-content-between align-items-center"
                    >
                        <div
                            class="col-md-12 col-sm-12 col-12 title mb-5 mb-lg-0 mb-md-0 mb-sm-0"
                        >
                            Pipeline
                        </div>
                    </div>

                    <div class="row d-flex align-items-center">
                        <div
                            class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2"
                        >
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Cliente</mat-label>
                                <mat-select
                                    placeholder="Seleccionar"
                                    formControlName="client"
                                >
                                    <mat-option value="Cliente-1"
                                        >Cliente 1</mat-option
                                    >
                                    <mat-option value="Cliente-2"
                                        >Cliente 2</mat-option
                                    >
                                    <mat-option value="Cliente-3"
                                        >Cliente 3</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2"
                        >
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Agente</mat-label>
                                <mat-select
                                    placeholder="Seleccionar"
                                    formControlName="agent"
                                >
                                    <mat-option value="Agente-1"
                                        >Agente 1</mat-option
                                    >
                                    <mat-option value="Agente-2"
                                        >Agente 2</mat-option
                                    >
                                    <mat-option value="Agente-3"
                                        >Agente 3</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2"
                        >
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Estatus</mat-label>
                                <mat-select
                                    placeholder="Seleccionar"
                                    formControlName="agent"
                                >
                                    <mat-option value="Agente-1"
                                        >Estatus 1</mat-option
                                    >
                                    <mat-option value="Estatus-2"
                                        >Estatus 2</mat-option
                                    >
                                    <mat-option value="Estatus-3"
                                        >Estatus 3</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2"
                        >
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Rango de fechas</mat-label>
                                <mat-date-range-input
                                    [max]="fechaHoy"
                                    [rangePicker]="campaignOnePicker"
                                    [comparisonStart]="
                                        formFilters.value['rangeDateStart']
                                    "
                                    [comparisonEnd]="
                                        formFilters.value['rangeDateEnd']
                                    "
                                >
                                    <input
                                        matStartDate
                                        placeholder="Inicio"
                                        formControlName="rangeDateStart"
                                    />
                                    <input
                                        matEndDate
                                        placeholder="Final"
                                        formControlName="rangeDateEnd"
                                    />
                                </mat-date-range-input>

                                <mat-datepicker-toggle
                                    matIconSuffix
                                    [for]="campaignOnePicker"
                                ></mat-datepicker-toggle>
                                <mat-date-range-picker
                                    #campaignOnePicker
                                ></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div
                            class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2"
                        >
                            <button
                                class="btn-search"
                                (click)="searchWithFilters()"
                            >
                                <span>Buscar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="flex-auto border-t section-content-padding">
        <div class="w-full mx-auto">
            <div class="row tap-options">
                <span
                    (click)="selectOption(1)"
                    [class.selected]="selectedOption === 1"
                    >Día</span
                >
                <span
                    (click)="selectOption(2)"
                    [class.selected]="selectedOption === 2"
                    >Mes</span
                >
                <span
                    (click)="selectOption(3)"
                    [class.selected]="selectedOption === 3"
                    >Año</span
                >
            </div>

            <div class="row c-pipeline-header pt-5">
                <div class="container-pipeline">
                    <div class="pipeline-header">Cot. Leads</div>
                    <div class="pipeline-subheader">TOTAL: {{ dataPipele?.totalQuoteLeads }}</div>
                    <div class="bg-card card-pipeline fast-quote-card" *ngFor="let data of dataPipele?.quoteLeads; let i = index">
                        <div class="card-title-pipeline">
                            <img [src]="data?.logo" alt="" />
                            <h1> {{ data?.companyName }} </h1>

                            <div class="status">
                                <h2>Estatus:</h2>
                                <button class="btn-action-add">
                                    <span>{{ data?.status }}</span>
                                </button>
                            </div>
                        </div>

                        <div class="pipeline-content-card" *ngFor="let dataOption of data.optionOne">
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Cotización:</h1></div>
                                <div class="text-start">
                                    <span class="font-bold">#{{ data?.quoteNumber }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Opción 1:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.listPrice }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Giro:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.platform }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Monto:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.amount }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Lugares:</h1></div>
                                <div class="text-start"><span>{{ dataOption?.places }}</span></div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Vigencia:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.validity }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="pipline-actions">
                            <h1>Acciones</h1>
                            <button class="recalculate">
                                <span>Formalizar</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="container-pipeline">
                    <div class="pipeline-header">Cot. Clientes</div>
                    <div class="pipeline-subheader">TOTAL: {{ dataPipele?.totalQuoteClients }}</div>
                    <div class="bg-card card-pipeline formal-quote-card" *ngFor="let data of dataPipele?.quoteClients; let i = index">
                        <div class="card-title-pipeline d-flex align-items-center flex-wrap pb-0" >
                            <img [src]="data?.logo" alt="" />
                            <h1> {{ data?.companyName }} </h1>
                        </div>

                        <div class="status">
                            <h2>Estatus:</h2>
                            <button class="btn-action-add">
                                <span>{{ data?.status }}</span>
                            </button>
                        </div>

                        <div class="pipeline-content-card card-formal-padding" *ngFor="let dataOption of data?.optionOne">
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Cotización:</h1></div>
                                <div class="text-start">
                                    <span class="font-bold">#{{ data?.quoteNumber }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Opción 1:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.listPrice }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Giro:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.platform }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Monto:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.amount }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Lugares:</h1></div>
                                <div class="text-start"><span>{{ dataOption?.places }}</span></div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Fecha:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.validity }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="pipline-actions-formal">
                            <h1>Acciones</h1>
                            <div class="d-flex align-items-center justify-content-center gap-2 mb-1">
                                <mat-icon *ngIf="dataOption?.moneyAccount" svgIcon="mat_outline:check_box"></mat-icon>
                                <h2>Dinero en cuenta</h2>
                            </div>
                            <span class="font-format-blue-light mb-1"
                                >Cambiar estatus</span
                            >
                            <span class="font-format-blue-light mb-1"
                                >Facturar</span
                            >
                            <span class="font-format-blue-light mb-1"
                                >Agregar comprobante de pago</span
                            >
                        </div>
                    </div>
                </div>

                <div class="container-pipeline">
                    <div class="pipeline-header">Ventas leads</div>
                    <div class="pipeline-subheader">TOTAL: {{ dataPipele?.totalSaleSales || '-' }}</div>
                    <div class="bg-card card-pipeline sells-card" *ngFor="let data of dataPipele?.leadsSales; let i = index">
                        <div class="card-title-pipeline">
                            <img [src]="data?.logo" alt=""/>
                            <h1> {{ data?.companyName }} </h1>
                        </div>

                        <div class="pipeline-total">
                            <h2>Total:</h2>
                            <span>{{ data?.amount }}</span>
                        </div>

                        <div class="pipeline-content-card" *ngFor="let dataOption of data.optionOne">
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Cotización:</h1></div>
                                <div class="text-start">
                                    <span class="font-bold">#{{ data?.quoteNumber }}</span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Opción 1:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.listPrice }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Giro:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.platform }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Lugares:</h1></div>
                                <div class="text-start"><span>5</span></div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Vigencia:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.validity }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-pipeline">
                    <div class="pipeline-header">Ventas clientes</div>
                    <div class="pipeline-subheader">TOTAL: {{ dataPipele?.totalClientSales }}</div>
                    <div class="bg-card card-pipeline sells-card" *ngFor="let data of dataPipele?.clientSales; let i = index">
                        <div class="card-title-pipeline">
                            <img [src]="data?.logo" alt=""/>
                            <h1> {{ data?.companyName }} </h1>
                        </div>

                        <div class="pipeline-total">
                            <h2>Total:</h2>
                            <span>{{ data?.amount }}</span>
                        </div>

                        <div class="pipeline-content-card" *ngFor="let dataOption of data.optionOne">
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Cotización:</h1></div>
                                <div class="text-start">
                                    <span class="font-bold">#{{ data?.quoteNumber }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Opción 1:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.listPrice }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Giro:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.platform }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Lugares:</h1></div>
                                <div class="text-start"><span>{{ dataOption?.places }}</span></div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="text-end"><h1>Vigencia:</h1></div>
                                <div class="text-start">
                                    <span>{{ dataOption?.validity }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
