.c-pipeline {
    ::ng-deep .mat-mdc-tab-body-content {
        padding: 0!important;
    }

    .c-pipeline-header {
        overflow: auto;

        .container-pipeline:nth-child(1) {
            width: 26%;
            .pipeline-subheader{
                background: #4DCEA0;
            }
        }

        .container-pipeline:nth-child(2) {
            width: 27%;

            .pipeline-subheader{
                background: #23ABF8;
            }
        }

        .container-pipeline:nth-child(3) {
            width: 23%;

            .pipeline-subheader{
                background: #00AD38;
            }
        }
        
        .container-pipeline:nth-child(4) {
            width: 23%;
            .pipeline-subheader{
                background: #00AD38;
            }
        }

        .container-pipeline {
            .card-pipeline {
                padding: 12px;
                margin-top: 15px;
                margin-bottom: 25px;
            }

            .pipeline-header {
                padding: 5px;
                height: 57px;
                // padding: 10px 17px 17px 17px;
                border-radius: 5px;
                box-shadow: 4px 4px 4px 0px #00000040;
                background: #646878;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 700;
                color: #EDF1F5;
            }

            .pipeline-subheader {
                padding: 5px;
                height: 57px;
                // padding: 10px, 17px, 17px, 17px;
                border-radius: 5px;
                box-shadow: 4px 4px 4px 0px #00000040;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 700;
                color: #EDF1F5;
            }

            .pipeline-subheader {
                margin-top: 10px;
            }

            .card-title-pipeline {
                padding: 18px;
                padding-bottom: 15px!important;
                img {
                    width: 70px;
                    height: 70px;
                    margin: auto;
                    margin-bottom: 20px;
                }

                h1 {
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    color: #1E293B;
                }
            }
            .pipline-actions {
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 10px;
                }

                button {
                    width: 134px;
                    height: 28px;
                    padding: 10px, 0px, 10px, 0px;
                    border-radius: 20px;
                    gap: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                }
            }
            .pipline-actions-formal {
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1 {
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 10px;
                    color: #4B5062;
                }

                button {
                    width: 134px;
                    height: 28px;
                    padding: 10px, 0px, 10px, 0px;
                    border-radius: 20px;
                    gap: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                }
            }
            .pipeline-content-card {
                >div {
                    margin-top: 10px;
                    
                    > div:nth-child(1) {
                        width: 40%;
                    }
                    > div:nth-child(2) {
                        width: 60%;
                    }
                 
                    h1, span {
                        font-size: 14px;
                        font-weight: 400;
                        color: #1E293B;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 875px) {
        .container-pipeline {
            width: 100%!important;
        }
    }

    .status {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        h2 {
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            color: #1E293B;
            margin: 5px 0;
        }
        button {
            min-width: 100px;
            color: white;
            height: 25px;
            padding: 10px 0px 10px 0px!important;
            border-radius: 5px;
            gap: 10px;
            background: #385A6D;
            font-size: 15px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.gb-none {
    box-shadow: none!important;
    background: none!important;
}

.prspect-card {
    margin-top: 15px;
    min-height: 400px!important;
    height: auto!important;
}

.fast-quote-card {
    min-height: 620px!important;
    height: auto!important;
}

.formal-quote-card {
    min-height: 530px!important;
    height: auto!important;
}

.sells-card {
    min-height: 470px!important;
    height: auto!important;
}

.pipeline-medium {
    border-radius:5px;
    background: #FCDE01;
    color: #C07300;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 27px;
}

.pipeline-high {
    border-radius:5px;
    background: #24BB55;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
}


.card-formal-padding {
    >div {
        > div:nth-child(1) {
            width: 35%!important;
        }
        
        > div:nth-child(2) {
            width: 65%!important;
        }
    }
}

.pipeline-total {
    color: #1E293B;
    font-weight: 700;
    text-align: center;
    h2 {
        font-size: 14px;
    }

    span {
        font-size: 23px;
    }
}