<div class="position-relative">
    <button mat-icon-button (click)="open = !open;">
        <mat-icon class="color-icon-header" [svgIcon]="'heroicons_outline:squares-plus'"></mat-icon>
    </button>
    
    <div class="open-select" *ngIf="open"
        style="position: absolute;
           top: 52px;
            left: 0;"
    
    >
        <mat-form-field class="flex-auto input-default">
            <mat-select placeholder="Seleccionar" >
                <mat-option value="estatus-1">Cotización</mat-option>
                <mat-option value="estatus-2">Campaña</mat-option>
                <mat-option value="estatus-3">Usuario</mat-option>
                <mat-option value="estatus-3">Producto</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>