<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-home" cdkScrollable>
    <div class="bg-card section-padding">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8">
            <form class="row mt-3 mb-2" [formGroup]="formFilters">
                <div class="col-12">
                    <div class="section-title row d-flex justify-content-between align-items-center">
                        <div class="col-md-4 col-sm-12 col-12 title mb-3">Actividades</div>

                        <div class="col-md-8 col-sm-12 col-12 btns-section mb-3">
                            <div class="container p-0">
                                <div class="row d-flex justify-content-end">
                                    <div class="col-sm-6 col-lg-5 col-7 d-flex justify-content-end width-new-register">
                                        <button class="btn-yellow-newRegister">
                                            <span (click)="newOrEditData()">Registrar nuevo</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center">
                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Estatus</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="status">
                                    <mat-option value="">Todos</mat-option>
                                    <mat-option [value]="cat.status_id" *ngFor="let cat of catStatus">{{cat?.description
                                        || '-'}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Tipo</mat-label>
                                <mat-select formControlName="type" placeholder="Seleccionar">
                                    <mat-option value="">Todos</mat-option>
                                    <mat-option [value]="cat.type_activity_id"
                                        *ngFor="let cat of catActivitiesTypes">{{cat?.activity ||
                                        '-'}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Agente</mat-label>
                                <mat-select formControlName="agent" placeholder="Seleccionar">
                                    <mat-option value="">Todos</mat-option>
                                    <mat-option [value]="cat.id" *ngFor="let cat of catAgents">
                                        {{cat.first_name && cat.last_name ? cat?.first_name + ' ' + cat?.last_name :
                                        cat?.username |titlecase }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Rango de fechas</mat-label>
                                <mat-date-range-input [max]="fechaHoy" [rangePicker]="campaignOnePicker"
                                    [comparisonStart]="formFilters.value['rangeDateStart']"
                                    [comparisonEnd]="formFilters.value['rangeDateEnd']">
                                    <input matStartDate placeholder="Inicio" formControlName="rangeDateStart" />
                                    <input matEndDate placeholder="Final" formControlName="rangeDateEnd" />
                                </mat-date-range-input>

                                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-end">
                        <div class="col-md-8 col-xl-8 col-12 d-flex">
                            <div class="d-flex col-md-7 col-xl-7 col-12 mb-4">
                                <div class="input-search">
                                    <input [formControl]="searchBar" type="text" placeholder="Búscar">
                                    <mat-icon class="icon-size-6" matSuffix [svgIcon]="'mat_solid:search'"></mat-icon>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-xl-4 col-12 d-flex justify-content-end gap-5">
                            <button class="btn-excel ml-3" (click)="douwnloadExel()">
                                <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>

                            <button class="btn-search" (click)="searchWithFilters()">
                                <span>Filtrar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="c-general-table section-content-padding">
        <div class="col-12 contenedor-scroll-tabla">
            <table mat-table #table [dataSource]="dataSource" class="w-100 tabla-personalizada-default">
                <caption></caption>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Prospecto</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-column-reck-solution">
                            <img [src]="element.logo" alt="">
                            <span>{{ element.companyName }}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="process">
                    <th mat-header-cell *matHeaderCellDef>Proceso</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-column-process">
                            {{ element.process }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="agent">
                    <th mat-header-cell *matHeaderCellDef>Agente</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.agent }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="activityType">
                    <th mat-header-cell *matHeaderCellDef>Tipo de actividad</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.activityType}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="register">
                    <th mat-header-cell *matHeaderCellDef>Registró</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.register}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef>Finaliza</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.endDate}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Comentario</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.description}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="c-column-btns">

                            <div class="btn-flag" *ngIf="!element.finish">
                                <mat-icon matTooltip="Finalizar" (click)="finally(element)">flag</mat-icon>
                            </div>

                            <div class="btn-edit" (click)="newOrEditData(element)">
                                <mat-icon matTooltip="Editar">edit_square</mat-icon>
                            </div>

                            <div class="btn-delete" (click)="deleteData(element.id)">
                                <mat-icon matTooltip="Eliminar">delete</mat-icon>
                            </div>

                        </div>
                    </td>
                </ng-container>

                <tr *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        <h5 class="text-center my-5">No se encontraron resultados.</h5>
                    </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>

        <!-- <div class="d-flex justify-content-end" style="background: none;"> 
            <mat-paginator
                #paginator
                [length]="total"
                [pageIndex]="indicePagina"
                [pageSize]="longitudPagina"
                [pageSizeOptions]="[5, 10, 25, 50, 100]"
                (page)="cambiaPagina($event)"
                class="w-100"
            ></mat-paginator>
        </div> -->
    </div>
</div>