<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-detail-client" cdkScrollable>

    <!-- Header -->
    <div class=" row flex-auto -mt-px pt-4 sm:pt-6 p-8">
        <div class="col-12 bg-card card-client">

            <div class="row card-header-clients">
                <div class="col-lg-2 col-md-6 col-sm-12 flex-center mt-0">
                    <img src="../../../../../assets/images/img-face.png" alt="">
                </div>

                <div class="col-lg-8 col-md-12 col-sm-12 title-info-client mt-0 ms-0">
                    <h1>A&B Ingeniería y señalización vial S.A. de C.V.</h1>
                    <span>Prospecto</span>

                    <div class="c-column-btns d-flex align-content-center gap-3 mt-5">
                        <div class="btn-see">
                            <mat-icon matTooltip="Ver">visibility</mat-icon>
                        </div>

                        <div class="btn-edit">
                            <mat-icon matTooltip="Editar">edit_square</mat-icon>
                        </div>

                        <div class="btn-delete">
                            <mat-icon matTooltip="Eliminar">delete</mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Información de la empresa</h2>

            <div class="row client-info">
                <div class="col-12">
                    <div class="d-flex align-content-center gap-2">
                        <p>Ciudad / Estado:</p>
                        <span>Orizaba / Veracruz de Ignacio de la Llave</span>
                    </div>
                    <div class="d-flex align-content-center gap-2">
                        <p>País:</p>
                        <span>México</span>
                    </div>
                    <div class="d-flex align-content-center gap-2">
                        <p>Página Web:</p>
                        <span>https://www.pendiente</span>
                    </div>
                    <div class="d-flex align-content-center gap-2">
                        <p>Giro o rubro:</p>
                        <span>Construcciones de carreteras</span>
                    </div>
                    <div class="d-flex align-content-center gap-2">
                        <p>Categoría:</p>
                        <span>Mediana</span>
                    </div>
                    <div class="d-flex align-content-center gap-2">
                        <p>Campaña:</p>
                        <span>campaña de pruebas campaña de pruebas campaña de pruebas</span>
                    </div>
                    <div class="d-flex align-content-center gap-2">
                        <p>Propietario:</p>
                        <span>Recinos Cruz - Marcio Alberto</span>
                    </div>
                    <div class="d-flex align-content-center gap-2">
                        <p>Email:</p>
                        <span>{{'ab_ingenieria@live.com.mx'}}</span>
                    </div>
                    <div class="d-flex align-content-center gap-2">
                        <p>Teléfono:</p>
                        <span>2721063831</span>
                    </div>
                </div>
            </div>

            <mat-tab-group class="mat-grupo-color sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">
                <mat-tab label="Cotizaciones">
                    <ng-template matTabContent>
                        <app-quotes></app-quotes>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Historial">
                    <ng-template matTabContent>
                        <app-history></app-history>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Correos">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 w-full min-w-0">
                            <h1>En desarrollo...</h1>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Llamadas">
                    <ng-template matTabContent>
                        <app-calls></app-calls>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Contactos">
                    <ng-template matTabContent>
                        <app-contact></app-contact>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Campañas">
                    <ng-template matTabContent>
                        <app-advertising></app-advertising>
                    </ng-template>
                </mat-tab>
     
                <mat-tab label="Documentos">
                    <ng-template matTabContent>
                        <app-documents></app-documents>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>