<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto bg-white c-new-bono" cdkScrollable>

    <div class="return-header">
        <mat-icon svgIcon="mat_solid:arrow_back" (click)="toBack()"></mat-icon>
        <p class="titulo-modal form-padding-title">{{modalTitle}}</p>
    </div>

    <div class="row form-padding d-flex">
        <p class="mb-6">*Campos obligatorios</p>
        <form class="col-12">
            <div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Nombre del bono*</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16 inputsRadioGroupBold">
                            <mat-radio-group class="d-flex row">
                                <div class="col-md-6">
                                    <mat-radio-button class="mb-2"> <span class="font-14-500-4B5062">Campaña
                                            asignada</span> </mat-radio-button>
                                </div>
                                <div class="col-md-6">
                                    <mat-radio-button class="mb-2"> <span class="font-14-500-4B5062">Actividad
                                            asignada</span> </mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Campaña a la que aplica*</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="">campaña 1</mat-option>
                                <mat-option value="">campaña 2</mat-option>
                                <mat-option value="">campaña 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Actividad asignada*</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="">Actividad 1</mat-option>
                                <mat-option value="">Actividad 2</mat-option>
                                <mat-option value="">Actividad 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <hr>

                <div class="separationSection">
                    <h1>Aplicar</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Solución(es)* que aplica</mat-label>
                                <mat-select placeholder="Seleccionar">
                                    <mat-option value="">solucion 1</mat-option>
                                    <mat-option value="">solucion 2</mat-option>
                                    <mat-option value="">solucion 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Agente(s) a quién aplica*</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <div class="row promotion">
                                <span>Fecha de vigencia del bono</span>
                                <div class="col-md-12">
                                    <div class="row p-0">
                                        <div class="col-md-6">
                                            <mat-form-field class="flex-auto inputNewRegister width-100">
                                                <mat-label>Fecha</mat-label>
                                                <input matInput [matDatepicker]="picker1">
                                                <mat-datepicker-toggle matSuffix
                                                    [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="d-flex flex-column c-input-time">
                                                <mat-label>Hora</mat-label>
                                                <input class="input-time" type="time" name="eta">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="separationSection">
                    <h1>Especificaciones</h1>
                    <div class="row" *ngFor="let ejecucion of valuesSpecifications; let i = index;">

                        <div class="col-md-6">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Tipo de Bono</mat-label>
                                <mat-select placeholder="Seleccionar">
                                    <mat-option value="">bono 1</mat-option>
                                    <mat-option value="">bono 2</mat-option>
                                    <mat-option value="">bono 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Monto invertido*</mat-label>
                                <input class="text-right" matInput>
                                <span matPrefix>%</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Monto invertido*</mat-label>
                                <input class="text-right" matInput>
                                <span matPrefix>$</span>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2 d-flex align-items-center justify-content-center c-column-btns mt-5">
                            <div class="btn-delete" (click)="deleteSpecifications(i)">
                                <mat-icon matTooltip="Eliminar">delete</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex align-items-center justify-content-start mt-5 mb-6">
                    <button class="btn-gray color-385A6D" (click)="addFormSpecifications()">
                        <span>Agegar escala</span>
                    </button>
                </div>

                <br>

                <div class="row ">
                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Base del bono*</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="">campaña 1</mat-option>
                                <mat-option value="">campaña 2</mat-option>
                                <mat-option value="">campaña 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Meta del bono*</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="">campaña 1</mat-option>
                                <mat-option value="">campaña 2</mat-option>
                                <mat-option value="">campaña 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Monto*</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                    <mat-label>Cantidad</mat-label>
                                    <input class="text-right" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                    <mat-label>Monto</mat-label>
                                    <input class="text-right" matInput>
                                    <span matPrefix>$</span>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="flex-auto input-default inputNewRegister">
                            <mat-label>Texto</mat-label>
                            <textarea matInput style="height: 150px;"></textarea>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row d-flex justify-content-end align-items-center mb-3 mt-5">
                    <div class="d-flex justify-content-end col-md-3 col-xl-3 col-12 pt-md-2 mt-6">
                        <button class="btn-action-add" (click)="save()">
                            <span>Guardar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>