.c-new-bono {
    
    .separationSection {
        h1 {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 700;
            color: #1E293B;
            margin-bottom: 25px ;
        }
    }
}