<div class="grid grid-cols-1 w-full min-w-0">
    <div class="row d-flex">

        <div class="d-flex col-md-5 col-xl-5 col-12 pt-md-2">
            <div class="input-search">
                <input type="text" placeholder="Búscar">
                <mat-icon class="icon-size-6" matSuffix
                    [svgIcon]="'mat_solid:search'"></mat-icon>
            </div>
        </div>

        <div
            class="d-flex col-md-7 col-xl-7 col-12 pt-md-2 justify-content-end align-items-end ">
            <button class="btn-yellow">
                <span>Excel</span>
            </button>
        </div>

    </div>
</div>

<div class="row my-8">
    <div class="col-12 contenedor-scroll-tabla">
        <table mat-table #table [dataSource]="dataSource"
            class="w-100 tabla-personalizada-default">
            <caption></caption>

            <ng-container matColumnDef="noSerie">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.noSerie }}
                </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.nombre }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fechainicial">
                <th mat-header-cell *matHeaderCellDef>Fecha inicial</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.fechainicial }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaFinal">
                <th mat-header-cell *matHeaderCellDef>Fecha final</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.fechaFinal }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaRegistro">
                <th mat-header-cell *matHeaderCellDef>Fecha registro</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.fechaRegistro }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaFinalizacion">
                <th mat-header-cell *matHeaderCellDef>Fecha que finalizó</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.fechaFinalizacion }}
                </td>
            </ng-container>

            <ng-container matColumnDef="tipoCampania">
                <th mat-header-cell *matHeaderCellDef>Tipo de campaña</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.tipoCampania }}
                </td>
            </ng-container>

            <ng-container matColumnDef="agentePrincipal">
                <th mat-header-cell *matHeaderCellDef>Agente principal</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.agentePrincipal }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ventas">
                <th mat-header-cell *matHeaderCellDef>Ventas</th>
                <td mat-cell *matCellDef="let element">
                    <div class="table-column-two-buttons"
                        *ngFor="let info of element.cotizaciones">
                        <div class="table-column-lead"> {{ info.izq }} </div>
                        <div class="table-column-lead"> {{ info.der }} </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="cotizaciones">
                <th mat-header-cell *matHeaderCellDef>cotizaciones</th>
                <td mat-cell *matCellDef="let element">
                    <div class="table-column-two-buttons"
                        *ngFor="let info of element.cotizaciones">
                        <div class="table-column-lead"> {{ info.izq }} </div>
                        <div class="table-column-lead"> {{ info.der }} </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="agente">
                <th mat-header-cell *matHeaderCellDef>Agentes</th>
                <td mat-cell *matCellDef="let element">
                    <div class="see-all-column">
                        Ver todos
                    </div>
                </td>
            </ng-container>



            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <div class="c-column-btns">

                        <div class="btn-new-activity" (click)="newActivity()">
                            <mat-icon matTooltip="Nueva actividad">library_add</mat-icon>
                        </div>

                        <div class="btn-edit">
                            <mat-icon matTooltip="Editar">edit_square</mat-icon>
                        </div>

                        <div class="btn-delete">
                            <mat-icon matTooltip="Eliminar">delete</mat-icon>
                        </div>

                    </div>
                </td>
            </ng-container>

            <tr *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumnsCampaign.length">
                    <h5 class="text-center my-5">No se encontraron resultados.</h5>
                </td>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsCampaign"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCampaign"></tr>
        </table>
    </div>

    <div class="row d-flex justify-content-end create">
        <div class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2">
            <button class="btn-add-action">
                <span>Crear</span>
            </button>
        </div>
    </div>
</div>