<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-config" s cdkScrollable>

    <div class="bg-card rounded-4 section-padding-admin">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8">
            <form class="row mt-5 mb-5">
                <div class="col-12">
                    <div class="section-title row d-flex justify-content-between align-items-center">
                        <div class="col-md-8 col-sm-12 col-12 title mb-5 mb-lg-0 mb-md-0 mb-sm-0">
                            Tipos de campañas
                        </div>

                        <div class="col-md-4 col-sm-12 col-12 btns-section mb-5 mb-lg-0 mb-md-0 mb-sm-0">
                            <button class="btn-yellow-newRegister">
                                <span (click)="newOrEditData()">Registrar nueva</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="c-general-table">
            <div class="col-12 contenedor-scroll-tabla">
                <table mat-table #table [dataSource]="dataSource" class="w-100 tabla-personalizada-default">
                    <caption></caption>

                    <ng-container matColumnDef="campaign_type_name">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.campaign_type_name || '-' }}
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="campaign_abbrev">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.campaign_abbrev || '-'  }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="c-column-btns ">

                                <div class="colum-btn btn-edit" (click)="newOrEditData(element)">
                                    <mat-icon matTooltip="Editar">edit_square</mat-icon>
                                </div>

                                <div class="btn-delete" (click)="deleteData(element.campaign_type_id)">
                                    <mat-icon matTooltip="Eliminar">delete</mat-icon>
                                </div>

                            </div>
                        </td>
                    </ng-container>

                    <tr *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            <h5 class="text-center my-5">No se encontraron resultados.</h5>
                        </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>

            <!-- <div class="d-flex justify-content-end" style="background: none;"> 
                <mat-paginator
                    #paginator
                    [length]="total"
                    [pageIndex]="indicePagina"
                    [pageSize]="longitudPagina"
                    [pageSizeOptions]="[5, 10, 25, 50, 100]"
                    (page)="cambiaPagina($event)"
                    class="w-100"
                ></mat-paginator>
            </div> -->
        </div>
    </div>
</div>