<div class="container-fluid p-0 overflow-hidden">
    <div class="modal-header d-flex justify-content-end">
        <mat-icon class="cursos-pointer" svgIcon="mat_outline:cancel" (click)="closeModal()"></mat-icon>
    </div>

    <div class="row d-flex">
        <div class="col-12 contenedor-scroll-tabla">
            <table mat-table #table [dataSource]="dataSource" *ngIf="data.type == 'agents'" class="w-100 tabla-personalizada-default-white">
                <caption></caption>

                <ng-container matColumnDef="agent">
                    <th mat-header-cell *matHeaderCellDef>Agente</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex flex-column table-column-img text-center">
                            <img src="../../../../assets/images/icono-user.png" alt="">
                            {{ element.agent }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef>Rol</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex flex-column text-center">
                            <span class="font-bold mb-1">{{ element?.isMain || ''}}</span>
                            {{ element.rol }}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="ip">
                    <th mat-header-cell *matHeaderCellDef>Identificador de voz IP</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.ip }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="extension">
                    <th mat-header-cell *matHeaderCellDef>Extensión</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{ element.extension }}
                    </td>
                </ng-container>

                <tr *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        <h5 class="text-center my-5">No se encontraron resultados.</h5>
                    </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <table mat-table #table [dataSource]="dataSource" class="w-100 tabla-personalizada-default-white" *ngIf="data.type == 'companies'">
                <caption></caption>

                <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef>Empresa</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex flex-column table-column-img text-center">
                            <img src="../../../../assets/images/img-face.png" alt="">
                            <span class="text-line-bottom">{{ element.company }}</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="contact">
                    <th mat-header-cell *matHeaderCellDef>Contacto</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-column-contact" *ngFor="let info of element.contact">
                            <div>
                                <mat-icon class="icon-size-6" matSuffix [svgIcon]="'heroicons_outline:user'"></mat-icon>
                                <span> {{ info.nombre }} </span>
                            </div>
                            <div>
                                <mat-icon class="icon-size-6" matSuffix [svgIcon]="'mat_outline:mail'"></mat-icon>
                                <span> {{ info.email }} </span>
                            </div>
                            <div>
                                <mat-icon class="icon-size-6" matSuffix [svgIcon]="'mat_outline:headphones'"></mat-icon>
                                <span> {{ info.telefono }} </span>
                            </div>
                            <div>
                                <mat-icon class="icon-size-6" matSuffix [svgIcon]="'mat_outline:phone_android'"></mat-icon>
                                <span> {{ info.celular }} </span>
                            </div>
                            
                            <span class="text-all">Ver todos</span>
                        </div>
                    </td>
                    </ng-container>


                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Estatus</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-column-lead modal-lead">
                            {{ element.status }}
                        </div>
                    </td>
                </ng-container>

                <tr *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        <h5 class="text-center my-5">No se encontraron resultados.</h5>
                    </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </div>
</div>