<div class="container-fluid p-0 overflow-hidden c-modal-quotes">

    <div class="modal-header">
        <p class="titulo-modal">{{ data ? 'Editar' : 'Registrar nuevo'}} producto</p>

        <mat-icon class="cursos-pointer" svgIcon="mat_outline:cancel" (click)="closeModal()"></mat-icon>
    </div>

    <div class="row p-5 d-flex">

        <p class="mb-6">*Campos obligatorios</p>

        <form class="col-12 modal-content-scroll">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Código*</mat-label>
                            <input matInput>
                        </mat-form-field>
                      
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Nombre del producto*</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Precio*</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Categoria*</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>
                       
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>País*</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>
                        
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Link*</mat-label>
                            <input class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row d-flex justify-content-end create">
                    <div class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2">
                        <button class="btn-action-add" (click)="save()">
                            <span>Guardar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>