<div class="container-fluid p-0 overflow-hidden bg-white">

    <div class="return-header">
        <mat-icon svgIcon="mat_solid:arrow_back" (click)="toBack()"></mat-icon>
        <p class="titulo-modal form-padding-title">{{ url.includes('editar') ? 'Editar' : url.includes('clonar') ?
            'Clonar' : 'Registrar
            nueva' }} campaña</p>
    </div>

    <div class="row form-padding d-flex">

        <p class="mb-6">*Campos obligatorios</p>

        <form class="col-12" [formGroup]="formData">
            <div>
                <div class="row">

                    <div class="col-md-4">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Código</mat-label>
                            <input formControlName="code" matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type" placeholder="Seleccionar">
                                <mat-option value="">Tipo</mat-option>
                                <mat-option value="">Tipo</mat-option>
                                <mat-option value="">Tipo</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Agentes</mat-label>
                            <mat-select formControlName="agents" placeholder="Seleccionar">
                                <mat-option value="">Agentes</mat-option>
                                <mat-option value="">Agentes</mat-option>
                                <mat-option value="">Agentes</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="col-md-4">
                        <mat-form-field class="gt-xs:pr-3 inputNewRegister">
                            <mat-label>Nombre de la campaña</mat-label>
                            <input formControlName="campaignName" matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Agente encargado</mat-label>
                            <mat-select formControlName="agentCharge" placeholder="Seleccionar">
                                <mat-option value="giro1">Agente fijo 1</mat-option>
                                <mat-option value="Agente fijo2">Agente 2</mat-option>
                                <mat-option value="Teléfono fijo3">Agente 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Solución</mat-label>
                            <mat-select formControlName="solution" placeholder="Seleccionar">
                                <mat-option value="">Solución 1</mat-option>
                                <mat-option value="">Solución 2</mat-option>
                                <mat-option value="">Solución 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="col-md-4">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Monto invertido</mat-label>
                            <input formControlName="amountInvested" class="text-right" matInput>
                            <span matPrefix>$</span>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Periodo</mat-label>
                            <mat-date-range-input [max]="fechaHoy" [rangePicker]="campaignOnePicker"
                                [comparisonStart]="" [comparisonEnd]="">
                                <input matStartDate formControlName="periodStart" placeholder="Inicio" />
                                <input matEndDate formControlName="periodEnd" placeholder="Final" />
                            </mat-date-range-input>

                            <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Descripción</mat-label>
                            <textarea formControlName="description" matInput style="height: 100px;"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row d-flex align-items-center">
                    <form class="row" [formGroup]="formFilters">
                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Tipo</mat-label>
                                <mat-select formControlName="type" placeholder="Seleccionar">
                                    <mat-option value="Tipo-1">Tipo 1</mat-option>
                                    <mat-option value="Tipo-2">Tipo 2</mat-option>
                                    <mat-option value="Tipo-3">Tipo 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12  col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Giro</mat-label>
                                <mat-select formControlName="giro" placeholder="Seleccionar">
                                    <mat-option value="Giro-1">Giro 1</mat-option>
                                    <mat-option value="Giro-2">Giro 2</mat-option>
                                    <mat-option value="Giro-3">Giro 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="d-flex justify-content-start col-md-2 col-xl-2 col-12 pt-md-2 mt-5 mb-5">
                            <button class="btn-search">
                                <span>Buscar</span>
                            </button>
                        </div>
                    </form>


                </div>

                <div class="row mb-5">
                    <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16 inputsRadioGroup">
                        <span class="font-semibold mb-2 font-16-700-646878">Empresas</span>
                        <mat-radio-group [formControl]="selectCompanies" class="d-flex row">
                            <div class="col-md-6">
                                <mat-radio-button class="mb-2"> <span class="font-14-500-4B5062">Todas las Empresas
                                        excepto las marcadas</span> </mat-radio-button>
                            </div>
                            <div class="col-md-6">
                                <mat-radio-button class="mb-2"> <span class="font-14-500-4B5062">Ninguna Empresa solo
                                        las Marcadas</span> </mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field formArrayName="companies" class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-select multiple placeholder="Seleccionar">
                                @for (topping of toppingList; track topping) {
                                <mat-option [value]="topping">{{topping}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>


                <div>
                    <div class="row mb-3">
                        <div class="section-header-modal">
                            Establecer metas
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Total de empresas a alcanzar</mat-label>
                                <input formControlName="totalCompanies" matInput>
                            </mat-form-field>

                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Cantidad de respuestas</mat-label>
                                <input formControlName="numberResponses" matInput>
                            </mat-form-field>

                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Cantidad de cotizaciones</mat-label>
                                <input formControlName="numberQuotes" matInput>
                            </mat-form-field>

                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Monto total</mat-label>
                                <input class="text-right" formControlName="totalAmount" matInput>
                                <span matPrefix>$</span>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Cantidad de cierres de venta</mat-label>
                                <input formControlName="numberClose" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="row d-flex justify-content-end align-items-center mb-3 mt-5">
                    <div class="d-flex justify-content-end col-md-3 col-xl-3 col-12 pt-md-2 mt-6">
                        <button class="btn-action-add" (click)="save()">
                            <span>Guardar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>