<div class="container-fluid p-0 overflow-hidden c-modal-quotes">

    <div class="modal-header">
        <p class="titulo-modal">{{ objEditData ? 'Editar' : 'Registrar nueva'}} actividad</p>
        <mat-icon class="cursos-pointer" svgIcon="mat_outline:cancel" (click)="closeModal()"></mat-icon>
    </div>

    <div class="row p-5 d-flex">
        <p class="mb-6">*Campos obligatorios</p>
        <form class="col-12 modal-content-scroll" [formGroup]="formData">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <form class="example-form">
                            <!-- <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                              <mat-label>Buscar empresas</mat-label>
                              <input type="text" placeholder="Buscar por nombre..." matInput [formControl]="company" [matAutocomplete]="auto">
                              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let cat of filteredOptions | async" [value]="cat.company_name" (click)="companySelected = cat.company_id">
                                  {{cat.company_name || '-'}}
                                </mat-option>
                              </mat-autocomplete>
                              <mat-icon class="cursor-pointer" *ngIf="companySelected" matTooltip="Limpiar" (click)="cleanCompany()">close</mat-icon>
                            </mat-form-field> -->
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Buscar empresas</mat-label>
                                <input type="text" placeholder="Buscar por nombre..." matInput [formControl]="company"
                                    [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option *ngFor="let cat of filteredOptions | async" [value]="cat.company_name"
                                        (click)="companySelected = cat.company_id">
                                        {{ cat.company_name || '-' }}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-icon class="cursor-pointer" *ngIf="companySelected" matTooltip="Limpiar"
                                    (click)="cleanCompany()">close</mat-icon>
                            </mat-form-field>
                          </form>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Agente</mat-label>
                            <mat-select formControlName="user" placeholder="Seleccionar">
                                <mat-option [value]="cat.id" *ngFor="let cat of catAgents">
                                    {{cat.first_name && cat.last_name ? cat?.first_name + ' ' + cat?.last_name :
                                    cat?.username |titlecase }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Campaña</mat-label>
                            <mat-select formControlName="campaign" placeholder="Seleccionar">
                                <mat-option [value]="cat.campaign_id"
                                    *ngFor="let cat of catCampaings">{{cat?.campaign_name || '-'}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="flex-auto gt-xs:pr-3 mb-5">
                            <div class="row d-flex up">
                                <div class="col-md-12">
                                    <div class="d-flex flex-column inputNewRegister">
                                        <mat-label class="mb-1">Adjuntar documento</mat-label>
                                        <input type="file" (change)="onFileChange($event)" name="document" accept="image/*">
                                    </div>
                                </div>
                                <!--<div class="col-md-4 d-flex align-items-center justify-content-end mb-3">
                                    <button class="btn-action-add">
                                        <span>Subir</span>
                                    </button>
                                </div>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Negocios abiertos*</mat-label>
                            <mat-select formControlName="quote" placeholder="Seleccionar">
                                <mat-option [value]="cat.quote_id"
                                    *ngFor="let cat of catQuoteOpens">Cotización {{cat?.quote_number  || '-'}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Tipo de actividad</mat-label>
                            <mat-select formControlName="type_activity" placeholder="Seleccionar">
                                <mat-option [value]="cat.type_activity_id"
                                    *ngFor="let cat of catCompanyType">{{cat?.activity || '-'}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="flex-auto gt-xs:pr-3 width-100">
                            <div class="row p-0">
                                <div class="col-md-6">
                                    <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                        <mat-label>Fecha</mat-label>
                                        <input formControlName="activity_date" matInput [matDatepicker]="picker1">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <div class="d-flex flex-column c-input-time">
                                        <mat-label>Hora*</mat-label>
                                        <input formControlName="activity_hour" class="input-time" type="time" name="eta">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-auto gt-xs:pr-3 mt-5">
                            <div class="row advantages advantages-p">
                                <mat-form-field class="flex-auto input-default inputNewRegister">
                                    <mat-label>Descripción</mat-label>
                                    <textarea formControlName="description" matInput style="height: 150px;"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-end create">
                    <div class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2">
                        <button class="btn-action-add" [disabled]="!canSave" (click)="actionSave()">
                            <span>Guardar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>