<div class="container-fluid p-0 overflow-hidden c-modal-quotes">

    <div class="modal-header">
        <p class="titulo-modal">{{ data ? 'Editar' : 'Registrar nueva'}} actividad</p>

        <mat-icon class="cursos-pointer" svgIcon="mat_outline:cancel" (click)="closeModal()"></mat-icon>
    </div>

    <div class="row p-5 d-flex">

        <p class="mb-6">*Campos obligatorios</p>

        <form class="col-12 modal-content-scroll">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Empresa*</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Agente*</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Agente">Agente 1</mat-option>
                                <mat-option value="Agente">Agente 2</mat-option>
                                <mat-option value="Agente">Agente 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Campaña*</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Campaña">Campaña 1</mat-option>
                                <mat-option value="Campaña">Campaña 2</mat-option>
                                <mat-option value="Campaña">Campaña 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="flex-auto gt-xs:pr-3 mb-5">
                            <div class="row d-flex up">
                                <div class="col-md-8">
                                    <div class="d-flex flex-column inputNewRegister">
                                        <mat-label class="mb-1">Adjuntar documento</mat-label>
                                        <input type="file" name="eta">
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-end">
                                    <button class="btn-action-add">
                                        <span>Subir</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Negocios abiertos</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Negocios abiertos">Negocios abiertos 1</mat-option>
                                <mat-option value="Negocios abiertos">Negocios abiertos 2</mat-option>
                                <mat-option value="Negocios abiertos">Negocios abiertos 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Tipo de actividad</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Tipo de actividad">Tipo de actividad 1</mat-option>
                                <mat-option value="Tipo de actividad">Tipo de actividad 2</mat-option>
                                <mat-option value="Tipo de actividad">Tipo de actividad 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="flex-auto gt-xs:pr-3 width-100">
                            <div class="row p-0">
                                <div class="col-md-6">
                                    <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                        <mat-label>Fecha</mat-label>
                                        <input matInput [matDatepicker]="picker1">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <div class="d-flex flex-column c-input-time">
                                        <mat-label>Hora</mat-label>
                                        <input class="input-time" type="time" name="eta">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-auto gt-xs:pr-3 mt-5">
                            <div class="row advantages advantages-p">
                                <mat-form-field class="flex-auto input-default inputNewRegister">
                                    <mat-label>Texto</mat-label>
                                    <textarea matInput style="height: 150px;"></textarea>
                                </mat-form-field>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row d-flex justify-content-end create">
                    <div class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2">
                        <button class="btn-action-add" (click)="save()">
                            <span>Guardar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>