<div class="container-fluid p-0 overflow-hidden bg-white c-new-quote-client">

    <div class="header-level1 ">
        <h1>Crear nueva cotización</h1>
    </div>

    <div class="return-header">
        <p class="titulo-modal">Registrar nuevo prospecto</p>
    </div>

    <div class="row form-padding d-flex">

        <p class="mb-6">*Campos obligatorios</p>

        <form class="col-12 new-content">
            <div>
                <div class="row">
                    <div class="col-md-4">

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Nombre de la empresa (razón social)*</mat-label>
                            <input matInput>
                        </mat-form-field>
                        
                        <mat-form-field class="gt-xs:pr-3 inputNewRegister" *ngIf="!addContact?.value">
                            <mat-label>Teléfono móvil*</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>Teléfono</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>Estado*</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Pais 1">Estado 1</mat-option>
                                <mat-option value="Estado 2">Estado 2</mat-option>
                                <mat-option value="Estado 3">Estado 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>Giro</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Pais 1">Giro 1</mat-option>
                                <mat-option value="Giro 2">Giro 2</mat-option>
                                <mat-option value="Giro 3">Giro 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>Tipo de empresa*</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Pais 1">Tipo de empresa 1</mat-option>
                                <mat-option value="Tipo de empresa 2">Tipo de empresa 2</mat-option>
                                <mat-option value="Tipo de empresa 3">Tipo de empresa 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                   
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Comentario*</mat-label>
                            <textarea matInput style="height: 118px;"></textarea>
                        </mat-form-field>

                    </div>

                    <div class="col-md-4">

                        <mat-form-field class="gt-xs:pr-3 inputNewRegister" *ngIf="!addContact?.value">
                            <mat-label>Contacto*</mat-label>
                            <input matInput>
                        </mat-form-field>

                        
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Origen</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Pais 1">Pais 1</mat-option>
                                <mat-option value="Pais 2">Pais 2</mat-option>
                                <mat-option value="Pais 3">Pais 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>RFC*</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>Propietario (agente)</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Pais 1">Propietario (agente) 1</mat-option>
                                <mat-option value="Propietario (agente) 2">Propietario (agente) 2</mat-option>
                                <mat-option value="Propietario (agente) 3">Propietario (agente) 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>Ciudad</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Pais 1">Ciudad 1</mat-option>
                                <mat-option value="Ciudad 2">Ciudad 2</mat-option>
                                <mat-option value="Ciudad 3">Ciudad 3</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>Tamaño de empresa</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Pais 1">Tamaño de empresa 1</mat-option>
                                <mat-option value="Tamaño de empresa 2">Tamaño de empresa 2</mat-option>
                                <mat-option value="Tamaño de empresa 3">Tamaño de empresa 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                    </div>

                    <div class="col-md-4">

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Teléfono fijo*</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 inputNewRegister" *ngIf="!addContact?.value">
                            <mat-label>Página web*</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>Correo</mat-label>
                            <input matInput required type="email">
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>País</mat-label>
                            <mat-select placeholder="Seleccionar">
                                <mat-option value="Pais 1">País 1</mat-option>
                                <mat-option value="País 2">País 2</mat-option>
                                <mat-option value="País 3">País 3</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="gt-xs:pr-3 inputNewRegister" *ngIf="addContact?.value">
                            <mat-label>Domicilio</mat-label>
                            <input matInput placeholder="Colonia, calle y número">
                        </mat-form-field>

                 

                        <div class="flex-auto gt-xs:pr-3 width-100 mt-4 mb-4" *ngIf="addContact?.value">
                            <div class="row d-flex up">
                                <div class="col-md-8">
                                    <div class="d-flex flex-column inputNewRegister">
                                        <mat-label class="mb-1">Imagen</mat-label>
                                        <input type="file" name="eta">
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-items-center justify-content-end">
                                    <button class="btn-action-add">
                                        <span>Subir</span>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="input-check mt-1">
                    <mat-checkbox class="mb-2" [checked]="true" [formControl]="addContact">
                        Realizar el registro completo
                    </mat-checkbox>
                </div>

                <div class="row mt-5" *ngFor="let ejecucion of valuesContacts; let i = index;">
                    <div class="col-md-4">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Nombre y apellidos</mat-label>
                            <input matInput [formControl]="ejecucion.nombreControl">
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Teléfono fijo</mat-label>
                            <input matInput [formControl]="ejecucion.telefonoControl">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Cargo / Puesto</mat-label>
                            <input matInput [formControl]="ejecucion.cargoControl">
                        </mat-form-field>

                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Teléfono móvil</mat-label>
                            <input matInput [formControl]="ejecucion.movilControl">
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Correo</mat-label>
                            <input matInput [formControl]="ejecucion.correoControl">
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                            <mat-label>Extención</mat-label>
                            <input matInput [formControl]="ejecucion.extensionControl">
                        </mat-form-field>
                    </div>

                    <div class="col-md-12 d-flex align-items-center justify-content-end c-column-btns mt-5">
                        <div class="btn-delete" (click)="deleteContact(i)">
                            <mat-icon matTooltip="Eliminar">delete</mat-icon>
                        </div>
                    </div>
                    <hr class="mt-5 mb-5" *ngIf="valuesContacts?.length > 1">
                </div>

                <div class="row d-flex">
                    <div class="col-md-12 col-sm-12 col-12 section-btns-two">
                        <button class="btn-gray" (click)="addFormContact()">
                            <span>Agregar contacto</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="return-header">
        <p class="titulo-modal">Crear nueva cotización</p>
    </div>

    <div class="row form-padding d-flex">
        <p class="mb-6">*Campos obligatorios</p>

        <div>
            <div class="row iva mb-5">
                <div class="flex flex-col mt-4 gt-sm:mt-0 gt-sm:ml-16 inputsRadioGroup">
                    <span class="font-semibold mb-2">Cotización con IVA</span>
                    <mat-radio-group class="d-flex flex-row" [value]="'just-good'">
                        <mat-radio-button class="mb-2" [value]="'Si'">
                            <span class="font-14-500-4B5062">Si</span>
                        </mat-radio-button>
                        <mat-radio-button class="mb-2" [value]="'No'">
                            <span class="font-14-500-4B5062">No</span>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <form *ngIf="optionFormValues?.length">
                <div *ngFor="let control of optionFormValues; let i = index;">
                    <div class="row mb-lg-0 mb-5 mb-sm-0 section-header-options">
                        <div class="col-md-3">
                            Opción 1
                        </div>
                        <div class="col-md-9">
                            <div class="flex inputsRadioGroup" style="display: flex; align-items: center;">
                                <span class="font-semibold font-16-700-646878">Tipo de precio</span>
                                <mat-radio-group class="d-flex row">
                                    <div class="col-md-6">
                                        <mat-radio-button class="mb-2"> <span class="font-14-500-4B5062">Normal</span>
                                        </mat-radio-button>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-radio-button class="mb-2"> <span
                                                class="font-14-500-4B5062">Promoción</span>
                                        </mat-radio-button>
                                    </div>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <form *ngIf="productFormValues?.length">

                        <div class="row" *ngFor="let control of productFormValues; let i = index;">
                            <div class="col-md-2">
                                <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                    <mat-label>Lugares</mat-label>
                                    <input class="text-right" [formControl]="control.unitPriControl" matInput>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                    <mat-label>Producto</mat-label>
                                    <mat-select [formControl]="control.productControl" placeholder="Seleccionar">
                                        <mat-option value="giro1">Producto 1</mat-option>
                                        <mat-option value="Prospectoempresa">Producto 2</mat-option>
                                        <mat-option value="Prospectoempresa">Producto 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                    <mat-label>Precio unitario</mat-label>
                                    <input class="text-right" [formControl]="control.unitPriControl" matInput>
                                    <span matPrefix>$</span>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                    <mat-label>Precio total</mat-label>
                                    <input class="text-right" [formControl]="control.totalPricePriControl" matInput>
                                    <span matPrefix>$</span>
                                </mat-form-field>
                            </div>

                            <div *ngIf="productFormValues?.length > 1"
                                class="col-md-12 d-flex align-items-center justify-content-end c-column-btns mt-5">
                                <div class="btn-delete" (click)="deleteProductValue(i)">
                                    <mat-icon matTooltip="Eliminar">delete</mat-icon>
                                </div>
                            </div>
                            <hr class="mt-5 mb-5" *ngIf="productFormValues?.length > 1">

                        </div>
                    </form>

                    <div class="row mt-5 mb-5 d-flex justify-content-end ">
                        <div class="col-md-4 col-xl-3 col-12 d-flex justify-content-end">
                            <button mat-flat-button class="btn-action-add btn-action-add-width" (click)="addFormProduct()">
                                <span>Agregar más ítems</span>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Subtotal</mat-label>
                                <input [formControl]="control.subtotalControl" class="text-right" matInput>
                                <span matPrefix>$</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Descuento</mat-label>
                                <input [formControl]="control.discountControl" class="text-right" matInput>
                                <span matPrefix>$</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="flex-auto gt-xs:pr-3 inputNewRegister">
                                <mat-label>Total</mat-label>
                                <input [formControl]="control.totalControl" class="text-right" matInput>
                                <span matPrefix>$</span>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3 d-flex align-items-center justify-content-start">
                            <button class="recalculate mb-5">
                                <span>Recalcular</span>
                            </button>
                        </div>
                    </div>

                    <div class="row promotion">
                        <span>Vigencia promoción 1</span>
                        <div class="col-md-6">
                            <div class="row p-0">
                                <div class="col-md-6">
                                    <mat-form-field class="flex-auto inputNewRegister width-100">
                                        <mat-label>Fecha</mat-label>
                                        <input [formControl]="control.dateControl" matInput [matDatepicker]="picker1">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <div class="d-flex flex-column c-input-time">
                                        <mat-label>Hora</mat-label>
                                        <input [formControl]="control.timeControl" class="input-time" type="time"
                                            name="eta">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="optionFormValues?.length > 1"
                        class="col-md-12 d-flex align-items-center justify-content-end c-column-btns mt-5">
                        <div class="btn-delete" (click)="deleteOptionValue(i)">
                            <mat-icon matTooltip="Eliminar">delete</mat-icon>
                        </div>
                    </div>
                    <hr class="mt-5 mb-5" *ngIf="optionFormValues?.length > 1">

                </div>

            </form>

            <div class="row d-flex mb-6 mt-6">
                <div class="col-md-4 col-xl-3 col-12 ">
                    <button mat-flat-button class="btn-action-add btn-action-add-option-width" (click)="addFormOption()">
                        <span>Agregar más opciones</span>
                    </button>
                </div>
            </div>

            <br>

            <div class="row d-flex justify-content-end create mt-6">
                <div class="d-flex col-md-4 col-xl-3 col-12 d-flex justify-content-end pt-md-1 align-items-end mb-lg-0 mb-5 mb-sm-0">
                    <button mat-flat-button class="btn-gray " (click)="newDataProduct()">
                        <span>Crear nuevo producto</span>
                    </button>
                </div>

                <div class="d-flex col-md-4 col-xl-2 col-12 d-flex justify-content-end pt-md-1 align-items-end mb-lg-0 mb-5 mb-sm-0">
                    <button mat-flat-button class="btn-yellow" (click)="save()">
                        <span>Guardar cotización</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>