<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-main-product" cdkScrollable>
    <div class="bg-card section-padding">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8 pt-3">
            <form class="row mt-5 mb-5" [formGroup]="formFilters">
                <div class="col-12">

                    <div class="section-title row d-flex justify-content-between align-items-center">

                        <div class="col-md-7 col-sm-12 col-12 title mb-5">
                            {{selectionType}}
                        </div>

                        <div class="col-md-5 col-sm-12 col-12 btns-section mb-5">
                            <button class="btn-yellow-newRegister ml-3 px-1 sm:px-4 min-w-10" mat-flat-button>
                                <span class="hidden sm:inline-block" (click)="newData()">Registrar nuevo</span>
                            </button>
                        </div>
                    </div>


                    <div class="row d-flex">
                        <div class="d-flex col-md-5 col-xl-5 col-12 pt-md-2 mt-3 mb-5">
                            <div class="input-search">
                                <input [formControl]="searchBar" type="text" placeholder="Búscar">
                                <mat-icon class="icon-size-6" matSuffix [svgIcon]="'mat_solid:search'"></mat-icon>
                            </div>
                        </div>

                        <div class="d-flex col-md-7 col-xl-7 col-12 pt-md-2 justify-content-end align-items-end ">
                            <button class="btn-excel ml-3" (click)="douwnloadExel()">
                                <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="c-general-table section-content-padding">
        <div class="w-full mx-auto">

            <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'"
                (selectedTabChange)="onTabChange($event)">
                <div class="row mt-5">
                    <mat-tab label="Productos">
                        <ng-template matTabContent>
                            <div class="mt-5 grid grid-cols-1 w-full min-w-0">
                                <app-products></app-products>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Precios">
                        <ng-template matTabContent>
                            <div class="mt-5 grid grid-cols-1 w-full min-w-0">
                                <app-price></app-price>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Descuentos">
                        <ng-template matTabContent>
                            <div class="mt-5 grid grid-cols-1 w-full min-w-0">
                                <app-discounts></app-discounts>
                            </div>
                        </ng-template>
                    </mat-tab>
                </div>
            </mat-tab-group>
        </div>
    </div>

</div>