<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-home" cdkScrollable>

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8">

            <!-- FILTERS  -->
            <form class="row mt-5 mb-5" [formGroup]="formFilters">
                <div class="col-12">

                    <div class="section-title row d-flex justify-content-between align-items-center">

                        <div class="col-md-7 col-sm-12 col-12 title">
                            {{selectionType}}
                        </div>

                        <div class="col-md-5 col-sm-12 col-12 btns-section">
                            <button class="btn-yellow-newRegister ml-3 px-1 sm:px-4 min-w-10" mat-flat-button>
                                <span class="hidden sm:inline-block" (click)="newData()">Crear nuevo {{ btnName }}</span>
                            </button>
                        </div>
                    </div>


                    <div class="row d-flex">

                        <div class="d-flex col-md-5 col-xl-5 col-12 pt-md-2">
                            <div class="input-search">
                                <input type="text" placeholder="Búscar">
                                <mat-icon class="icon-size-6" matSuffix [svgIcon]="'mat_solid:search'"></mat-icon>
                            </div>
                        </div>

                        <div class="d-flex col-md-7 col-xl-7 col-12 pt-md-2 justify-content-end align-items-end ">
                            <button class="btn-excel" (click)="douwnloadExel()">
                                <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
                                <span>Excel</span>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full mx-auto">
            <!-- Tabs -->
            <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'" (selectedTabChange)="onTabChange($event)">

                <mat-tab label="Productos">
                    <ng-template matTabContent>
                        <app-products></app-products>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Precios">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 w-full min-w-0">
                            <app-price></app-price>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Descuentos">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 w-full min-w-0">
                            <app-discounts></app-discounts>
                        </div>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>

</div>