<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto c-home-dashboard" cdkScrollable>
    <div class="bg-card section-padding">
        <div class="flex flex-col w-full mx-auto px-6 sm:px-8 pt-3">

            <form class="row mt-5 mb-5" [formGroup]="formFilters">
                <div class="col-12">
                    <div class="section-title row d-flex justify-content-between align-items-center">
                        <div class="col-md-4 col-sm-12 col-12 title mb-5">Dashboard</div>

                        <div class="col-md-8 col-sm-12 col-12 btns-section mb-5">
                            <div class="c-tickets mb-0">
                                <mat-icon>language</mat-icon>
                                <p>6559</p>
                                <p class="font-light">Entradas</p>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center">
                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Usuario</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="user">
                                    <mat-option value="country-1">Usuario 1</mat-option>
                                    <mat-option value="Usuario-2">Usuario 2</mat-option>
                                    <mat-option value="Usuario-3">Usuario 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Giro</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="giro">
                                    <mat-option [value]="null">Todos</mat-option>
                                    <mat-option [value]="cat.business_id" *ngFor="let cat of catBusiness">{{cat?.business_name || '-'}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Campaña</mat-label>
                                <mat-select placeholder="Seleccionar" formControlName="company">
                                    <mat-option value="Campaña-1">Campaña 1</mat-option>
                                    <mat-option value="Campaña-2">Campaña 2</mat-option>
                                    <mat-option value="Campaña-3">Campaña 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex col-sm-12 col-md-6 col-lg-3 col-12 pe-2">
                            <mat-form-field class="flex-auto input-default">
                                <mat-label>Rango de fechas</mat-label>
                                <mat-date-range-input [max]="fechaHoy" [rangePicker]="campaignOnePicker"
                                    [comparisonStart]="formFilters.value['rangeDateStart']"
                                    [comparisonEnd]="formFilters.value['rangeDateEnd']">
                                    <input matStartDate placeholder="Inicio" formControlName="rangeDateStart" />
                                    <input matEndDate placeholder="Final" formControlName="rangeDateEnd" />
                                </mat-date-range-input>

                                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-end">
                        <div class="d-flex justify-content-end col-md-2 col-xl-2 col-12 pt-md-2">
                            <button class="btn-search " (click)="searchWithFilters()">
                                <span>Buscar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Project selector -->
            <div class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                matRipple [matMenuTriggerFor]="projectsMenu">
                <div class="flex items-center">

                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">{{selectedProject}}</div>
                    </div>

                    <div class="flex items-center justify-center pl-2">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:chevron-down'"></mat-icon>
                    </div>

                </div>

                <mat-menu #projectsMenu="matMenu" [xPosition]="'before'">

                    <button mat-menu-item (click)="selectedProject='Estadísticas'">Estadísticas
                    </button>
                    <button mat-menu-item (click)="selectedProject='Graficas'">Graficas
                    </button>
                    <button mat-menu-item (click)="selectedProject='Productos'">Productos
                    </button>

                </mat-menu>
            </div>
        </div>
    </div>


    <div class="flex-auto border-t section-content-padding">
        <div class="w-full mx-auto">

            <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">

                <mat-tab label="Día" style="overflow: hidden;">
                    <ng-template matTabContent style="overflow: hidden;">

                        <div *ngIf="selectedProject == 'Estadísticas'" style="overflow: hidden;">
                            <div class="row" style="overflow: hidden;">
                                <div class="col-md-6" >
                                    <div class="header flex-center">Cotizaciones</div>

                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-5 mb-3 mb-sm-4">
                                                <div
                                                    class="open-card flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mb-md-0 heigth-100">
                                                    <div class="flex items-start justify-between">
                                                        <h1>Abiertas</h1>
                                                    </div>

                                                    <div class="flex flex-col items-center mt-2">
                                                        <div class="container">
                                                            <div
                                                                class="open-content-card row text-7xl sm:text-8xl font-bold tracking-tight leading-none">

                                                                <div class="col-md-6 d-flex flex-column">
                                                                    <h1>L</h1>
                                                                    <h2>0</h2>
                                                                </div>
                                                                <div class="col-md-6 d-flex flex-column">
                                                                    <h1>C</h1>
                                                                    <h2>0</h2>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <span class="seeGraph">Ver gráfica:</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7 mb-3 mb-sm-4 shoaw-dash">
                                                <div
                                                    class="sm:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden heigth-100">
                                                    <div class="flex items-start justify-between">
                                                        <div
                                                            class="text-lg font-bold tracking-tight leading-6 truncate mb-3">
                                                            Total</div>
                                                    </div>

                                                    <div class="flex items-center mt-1">
                                                        <div class="flex flex-col">
                                                            <div
                                                                class="text-3xl font-semibold tracking-tight leading-tight">
                                                                $0
                                                            </div>
                                                            <div class="flex items-center">
                                                                <!-- <mat-icon class="mr-1 icon-size-5 text-green-500"
                                                                    [svgIcon]="'heroicons_solid:arrow-trending-down'"></mat-icon> -->
                                                                <!-- <div
                                                                    class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                                                                    <span class="text-green-500">2%</span>
                                                                    Abajo proyectado
                                                                </div> -->
                                                            </div>
                                                        </div>


                                                        <!-- <div class="flex flex-col flex-auto ml-8">
                                                            <apx-chart class="flex-auto w-full h-16"
                                                                [chart]="chartWeeklyExpenses.chart"
                                                                [colors]="chartWeeklyExpenses.colors"
                                                                [series]="chartWeeklyExpenses.series"
                                                                [stroke]="chartWeeklyExpenses.stroke"
                                                                [tooltip]="chartWeeklyExpenses.tooltip"
                                                                [xaxis]="chartWeeklyExpenses.xaxis"
                                                                [yaxis]="chartWeeklyExpenses.yaxis">
                                                            </apx-chart>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 mb-3 mb-sm-4">
                                                <div
                                                    class="open-card flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mb-md-0 heigth-100">
                                                    <div class="flex items-start justify-between">
                                                        <h1>Descartadas</h1>
                                                    </div>

                                                    <div class="flex flex-col items-center mt-2">
                                                        <div class="container">
                                                            <div
                                                                class="open-content-card row text-7xl sm:text-8xl font-bold tracking-tight leading-none">

                                                                <div class="col-md-6 d-flex flex-column">
                                                                    <h1>L</h1>
                                                                    <h2>0</h2>
                                                                </div>
                                                                <div class="col-md-6 d-flex flex-column">
                                                                    <h1>C</h1>
                                                                    <h2>0</h2>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <span class="seeGraph">Ver gráfica:</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7 mb-3 mb-sm-4 shoaw-dash">
                                                <div
                                                    class="sm:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden heigth-100">
                                                    <div class="flex items-start justify-between">
                                                        <div
                                                            class="text-lg font-bold tracking-tight leading-6 truncate mb-3">
                                                            Total</div>
                                                    </div>

                                                    <div class="flex items-center mt-1">
                                                        <div class="flex flex-col">
                                                            <div
                                                                class="text-3xl font-semibold tracking-tight leading-tight">
                                                                $0
                                                            </div>
                                                            <div class="flex items-center">
                                                                <!-- <mat-icon class="mr-1 icon-size-5 text-green-500"
                                                                    [svgIcon]="'heroicons_solid:arrow-trending-down'"></mat-icon> -->
                                                                <!-- <div
                                                                    class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                                                                    <span class="text-green-500">2%</span>
                                                                    Abajo proyectado
                                                                </div> -->
                                                            </div>
                                                        </div>


                                                        <!-- <div class="flex flex-col flex-auto ml-8 ">
                                                            <apx-chart class="flex-auto w-full h-16 shoaw-dash"
                                                                [chart]="chartWeeklyExpenses.chart"
                                                                [colors]="chartWeeklyExpenses.colors"
                                                                [series]="chartWeeklyExpenses.series"
                                                                [stroke]="chartWeeklyExpenses.stroke"
                                                                [tooltip]="chartWeeklyExpenses.tooltip"
                                                                [xaxis]="chartWeeklyExpenses.xaxis"
                                                                [yaxis]="chartWeeklyExpenses.yaxis">
                                                            </apx-chart>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 mb-3 mb-sm-4">
                                                <div class="open-card flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mb-md-0 heigth-100">
                                                    <div class="flex items-start justify-between">
                                                        <h1>Cerradas</h1>
                                                    </div>

                                                    <div class="flex flex-col items-center mt-2">
                                                        <div class="container">
                                                            <div
                                                                class="open-content-card row text-7xl sm:text-8xl font-bold tracking-tight leading-none">
                                                                <div>
                                                                    <h3>0</h3>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <span class="seeGraph">Ver gráfica:</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-7 mb-3 mb-sm-4 shoaw-dash">
                                                <div
                                                    class="sm:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden heigth-100">
                                                    <div class="flex items-start justify-between">
                                                        <div
                                                            class="text-lg font-bold tracking-tight leading-6 truncate mb-3">
                                                            Total</div>
                                                    </div>

                                                    <div class="flex items-center mt-1">
                                                        <div class="flex flex-col">
                                                            <div
                                                                class="text-3xl font-semibold tracking-tight leading-tight">
                                                                $0
                                                            </div>
                                                            <div class="flex items-center">
                                                                <!-- <mat-icon class="mr-1 icon-size-5 text-green-500"
                                                                    [svgIcon]="'heroicons_solid:arrow-trending-down'"></mat-icon> -->
                                                                <!-- <div
                                                                    class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                                                                    <span class="text-green-500">2%</span>
                                                                    Abajo proyectado
                                                                </div> -->
                                                            </div>
                                                        </div>


                                                        <!-- <div class="flex flex-col flex-auto ml-8">
                                                            <apx-chart class="flex-auto w-full h-16"
                                                                [chart]="chartWeeklyExpenses.chart"
                                                                [colors]="chartWeeklyExpenses.colors"
                                                                [series]="chartWeeklyExpenses.series"
                                                                [stroke]="chartWeeklyExpenses.stroke"
                                                                [tooltip]="chartWeeklyExpenses.tooltip"
                                                                [xaxis]="chartWeeklyExpenses.xaxis"
                                                                [yaxis]="chartWeeklyExpenses.yaxis">
                                                            </apx-chart>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="header flex-center">Ventas</div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-5 mb-3 mb-sm-4">
                                                <div
                                                    class="open-card flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mb-md-0 heigth-100">
                                                    <div class="flex items-start justify-between">
                                                        <h1>Cerradas</h1>
                                                    </div>

                                                    <div class="flex flex-col items-center mt-2">
                                                        <div class="container">
                                                            <div
                                                                class="open-content-card row text-7xl sm:text-8xl font-bold tracking-tight leading-none">
                                                                <div>
                                                                    <h3>0</h3>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <span class="seeGraph">Ver gráfica:</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-7 mb-3 mb-sm-4 shoaw-dash">
                                                <div
                                                    class="sm:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden heigth-100">
                                                    <div class="flex items-start justify-between">
                                                        <div
                                                            class="text-lg font-bold tracking-tight leading-6 truncate mb-3">
                                                            Total</div>
                                                    </div>

                                                    <div class="flex items-center mt-1">
                                                        <div class="flex flex-col">
                                                            <div
                                                                class="text-3xl font-semibold tracking-tight leading-tight">
                                                                $0
                                                            </div>
                                                            <div class="flex items-center">
                                                                <!-- <mat-icon class="mr-1 icon-size-5 text-green-500"
                                                                    [svgIcon]="'heroicons_solid:arrow-trending-down'"></mat-icon> -->
                                                                <!-- <div
                                                                    class="font-medium text-sm text-secondary leading-none whitespace-nowrap">
                                                                    <span class="text-green-500">2%</span>
                                                                    Abajo proyectado
                                                                </div> -->
                                                            </div>
                                                        </div>


                                                        <!-- <div class="flex flex-col flex-auto ml-8">
                                                            <apx-chart class="flex-auto w-full h-16"
                                                                [chart]="chartWeeklyExpenses.chart"
                                                                [colors]="chartWeeklyExpenses.colors"
                                                                [series]="chartWeeklyExpenses.series"
                                                                [stroke]="chartWeeklyExpenses.stroke"
                                                                [tooltip]="chartWeeklyExpenses.tooltip"
                                                                [xaxis]="chartWeeklyExpenses.xaxis"
                                                                [yaxis]="chartWeeklyExpenses.yaxis">
                                                            </apx-chart>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row day mt-4">
                                <div class="col-md-12">
                                    <div class="header flex-center">
                                        Empresas
                                    </div>

                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-4 mb-3 mb-sm-4">
                                                <div
                                                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mb-md-0 min-heigt">
                                                    <div class="flex items-start justify-between">
                                                        <div
                                                            class="text-lg font-bold tracking-tight leading-6 truncate">
                                                            Estatus</div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="content-list">
                                                            <div>
                                                                <p>Prospecto</p>
                                                                <span>0</span>
                                                            </div>

                                                            <div>
                                                                <p>Lead</p>
                                                                <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Cliente</p>
                                                                <span>0</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-3 mb-sm-4">
                                                <div
                                                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mb-md-0 min-heigt">
                                                    <div class="flex items-start justify-between">
                                                        <div
                                                            class="text-lg font-bold tracking-tight leading-6 truncate">
                                                            Ranking de paises</div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="content-list">
                                                            <div>
                                                                <p>Micro</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Pequeña</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Pyme</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Mediana</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Grande</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Corporativa</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Pendiente</p> <span>0</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-3 mb-sm-4">
                                                <div
                                                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mb-md-0 min-heigt">
                                                    <div class="flex items-start justify-between">
                                                        <div
                                                            class="text-lg font-bold tracking-tight leading-6 truncate">
                                                            Categorías</div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="content-list">
                                                            <div>
                                                                <p>Micro</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Pequeña</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Pyme</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Mediana</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Grande</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Corporativa</p> <span>0</span>
                                                            </div>
                                                            <div>
                                                                <p>Pendiente</p> <span>0</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row mb-5">
                                <app-table [displayedColumns]="displayedColumnsRegister" [dataDummy]="dataDummyRegister"
                                    [type]="'register'"></app-table>
                            </div>
<!-- 
                            <div class="row">
                                <app-table [displayedColumns]="displayedColumnsBought" [dataDummy]="dataDummyBought"
                                    [type]="'bought'"></app-table>
                            </div> -->

                            <br>

                            <div class="row day mt-4">
                                <div class="col-md-12">
                                    <div class="header flex-center">
                                        Clientes
                                    </div>

                                    <div class="content">
                                        <div class="row">
                                            <app-table class="mt-0" [displayedColumns]="displayedColumnsClients"
                                                [dataDummy]="dataDummyClients" [type]="'clients'"></app-table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <br>

                            <div class="row day mt-4">
                                <div class="col-md-12">
                                    <div class="header flex-center">
                                        Países
                                    </div>

                                    <div class="content">
                                        <div class="row">
                                            <app-table class="mt-0" [displayedColumns]="displayedColumnsCountry"
                                                [dataDummy]="dataDummyCountry" [type]="'country'"></app-table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div *ngIf="selectedProject == 'Graficas'">
                            <div class="row day mt-4">
                                <div class="col-md-12">
                                    <div class="header flex-center">
                                        Ventas
                                    </div>

                                    <div class="content container-fluid">
                                        <div class="row">
                                            <div
                                                class="col-md-12 flex flex-col flex-auto bg-card shadow rounded-2xl p-4">
                                                <div class="flex items-start justify-between m-6 mb-0">
                                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                                        Saldo de la cuenta <br>
                                                    </div>
                                                    <div class="ml-2">
                                                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                                            mat-button [matMenuTriggerFor]="conversionMenu">
                                                            <span class="font-medium text-sm text-secondary">12
                                                                meses</span>
                                                        </button>
                                                        <mat-menu #conversionMenu="matMenu">
                                                            <button mat-menu-item>1 mes</button>
                                                            <button mat-menu-item>3 meses</button>
                                                            <button mat-menu-item>9 meses</button>
                                                        </mat-menu>
                                                    </div>
                                                </div>
                                                <div class="flex items-start mt-6 mx-6">
                                                    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 sm:gap-12">
                                                        <div class="flex flex-col">
                                                            <div class="flex items-start mt-2">
                                                                <div
                                                                    class="text-4xl font-bold tracking-tight leading-none">
                                                                    38.33%</div>
                                                            </div>

                                                            <div class="flex items-center">
                                                                <div class="font-medium text-secondary leading-5">
                                                                    Crecimiento
                                                                    mensual promedio</div>
                                                            </div>
                                                        </div>

                                                        <div class="flex flex-col">
                                                            <div class="flex items-start mt-2">
                                                                <div
                                                                    class="text-4xl font-bold tracking-tight leading-none">
                                                                    38.33%</div>
                                                            </div>

                                                            <div class="flex items-center">
                                                                <div class="font-medium text-secondary leading-5">
                                                                    Ingreso
                                                                    mensual promedio</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex flex-col flex-auto mt-3 h-100">
                                                    <apx-chart class="flex-auto w-full h-full"
                                                        [chart]="chartVisitorsVsPageViews.chart"
                                                        [colors]="chartVisitorsVsPageViews.colors"
                                                        [dataLabels]="chartVisitorsVsPageViews.dataLabels"
                                                        [grid]="chartVisitorsVsPageViews.grid"
                                                        [legend]="chartVisitorsVsPageViews.legend"
                                                        [series]="chartVisitorsVsPageViews.series"
                                                        [stroke]="chartVisitorsVsPageViews.stroke"
                                                        [tooltip]="chartVisitorsVsPageViews.tooltip"
                                                        [xaxis]="chartVisitorsVsPageViews.xaxis"
                                                        [yaxis]="chartVisitorsVsPageViews.yaxis">
                                                    </apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row day mt-5">
                                <div class="col-md-12">
                                    <div class="header flex-center">
                                        Cotizaciones
                                    </div>

                                    <div class="content container-fluid">
                                        <div class="row">
                                            <div class="flex flex-col flex-auto bg-card shadow rounded-2xl p-4">
                                                <div class="flex items-start justify-between m-6 mb-0">
                                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                                        Saldo de la cuenta <br>
                                                    </div>
                                                    <div class="ml-2">
                                                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                                            mat-button [matMenuTriggerFor]="conversionMenu">
                                                            <span class="font-medium text-sm text-secondary">12
                                                                meses</span>
                                                        </button>
                                                        <mat-menu #conversionMenu="matMenu">
                                                            <button mat-menu-item>1 mes</button>
                                                            <button mat-menu-item>3 meses</button>
                                                            <button mat-menu-item>9 meses</button>
                                                        </mat-menu>
                                                    </div>
                                                </div>
                                                <div class="flex items-start mt-6 mx-6">
                                                    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 sm:gap-12">
                                                        <div class="flex flex-col">
                                                            <div class="flex items-start mt-2">
                                                                <div
                                                                    class="text-4xl font-bold tracking-tight leading-none">
                                                                    38.33%</div>
                                                            </div>

                                                            <div class="flex items-center">
                                                                <div class="font-medium text-secondary leading-5">
                                                                    Crecimiento
                                                                    mensual promedio</div>
                                                            </div>
                                                        </div>

                                                        <div class="flex flex-col">
                                                            <div class="flex items-start mt-2">
                                                                <div
                                                                    class="text-4xl font-bold tracking-tight leading-none">
                                                                    38.33%</div>
                                                            </div>

                                                            <div class="flex items-center">
                                                                <div class="font-medium text-secondary leading-5">
                                                                    Ingreso
                                                                    mensual promedio</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flex flex-col flex-auto mt-3 h-100">
                                                    <apx-chart class="flex-auto w-full h-full"
                                                        [chart]="chartVisitorsVsPageViews.chart"
                                                        [colors]="chartVisitorsVsPageViews.colors"
                                                        [dataLabels]="chartVisitorsVsPageViews.dataLabels"
                                                        [grid]="chartVisitorsVsPageViews.grid"
                                                        [legend]="chartVisitorsVsPageViews.legend"
                                                        [series]="chartVisitorsVsPageViews.series"
                                                        [stroke]="chartVisitorsVsPageViews.stroke"
                                                        [tooltip]="chartVisitorsVsPageViews.tooltip"
                                                        [xaxis]="chartVisitorsVsPageViews.xaxis"
                                                        [yaxis]="chartVisitorsVsPageViews.yaxis">
                                                    </apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedProject == 'Productos'">
                            <div class="row day mt-4">
                                <div class="col-md-12">
                                    <div class="header flex-center">
                                        Productos y lugares
                                    </div>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 flex flex-col flex-auto heigth-100">
                                    <apx-chart class="flex-auto w-full h-80"
                                    [chart]="chartGithubIssues.chart"
                                    [colors]="chartGithubIssues.colors"
                                    [dataLabels]="chartGithubIssues.dataLabels"
                                    [grid]="chartGithubIssues.grid"
                                    [labels]="chartGithubIssues.labels"
                                    [legend]="chartGithubIssues.legend"
                                    [plotOptions]="chartGithubIssues.plotOptions"
                                    [series]="chartGithubIssues.series"
                                    [states]="chartGithubIssues.states"
                                    [stroke]="chartGithubIssues.stroke"
                                    [tooltip]="chartGithubIssues.tooltip"
                                    [xaxis]="chartGithubIssues.xaxis"
                                    [yaxis]="chartGithubIssues.yaxis">
                                </apx-chart>
                                </div>
                                <div class="col-md-6">
                                    <div class="row p-1">
                                        <div class="col-md-6 mb-3">
                                            <div class="open-card bg-1 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mb-md-0 heigth-100">
                                                <div class="flex flex-col items-center mt-2">
                                                    <div class="container">
                                                        <div
                                                            class="open-content-card-product row text-7xl sm:text-8xl font-bold tracking-tight leading-none">
                                                            <div>
                                                                <h1>0</h1>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <span class="span-product">Total de productos vendidos</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="open-card bg-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mb-md-0 heigth-100">
                                                <div class="flex flex-col items-center mt-2">
                                                    <div class="container">
                                                        <div class="open-content-card-product row text-7xl sm:text-8xl font-bold tracking-tight leading-none">
                                                            <div>
                                                                <h2>$0</h2>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <span class="span-product">Monto total vendido</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row day mt-5">
                                <div class="col-md-12">
                                    <div class="header flex-center">
                                        Productos / articulos más vendidos
                                    </div>

                                    <div class="content container-fluid">
                                        <div class="row mb-5">
                                            <app-table 
                                                [displayedColumns]="displayedColumnsRegister"
                                                [dataDummy]="dataDummyRegister" 
                                                [type]="'register'"
                                                [searchAndExcel]="true"></app-table>
                                        </div>
                                    </div>

                                    <div class="content container-fluid">
                                        <div class="row mb-5">
                                            <app-table 
                                            [displayedColumns]="displayedColumnsRegister"
                                            [dataDummy]="dataDummyRegister" 
                                            [type]="'register'"
                                            [searchAndExcel]="true"></app-table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Mes">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 w-full min-w-0">
                            <h1>En desarrollo...</h1>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Año">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 w-full min-w-0">
                            <h1>En desarrollo...</h1>
                        </div>
                    </ng-template>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>

</div>