.c-inbox {
    height: auto;
    padding: 35px;
    padding-bottom: 0;
    position: relative;

    .header-title {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        mat-icon {
            color: #FCDE01;
        }

        >div {
            img {
                width: 50px;
                height: 50px;
                margin-right: 24px;
            }

            >div {

                h1 {
                    font-size: 16px;
                    font-weight: 700;
                    color: #1E293B;
                    margin-bottom: 3px;
                }

                span {
                    font-size: 16px;
                    font-weight: 400;
                    color: #646878;
                }
            }
        }
    }

    .inbox-content {
        margin-top: 40px;
        height: 300px;
        padding-bottom: 40px;
        border-bottom: 1px solid #385A6D;
        font-size: 16px;
        font-weight: 400;
        color: #385A6D;
        overflow: auto!important;
    }

    .clip {
        margin: 40px 0;
    }

  
}
.inbox-footer {
    height: 90px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 50px;

}